@import url("https://fonts.googleapis.com/css?family=Montserrat");

.extendedWrapper {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  & .extendedDetails {
    width: 100%;
    height: 100%;
    & input {
      border: none;
      outline: none;
      margin-left: 5%;
      width: auto;
      font-size: 10pt;
      font-family: "Montserrat";
    }
    & ul {
      height: fit-content;
      position: relative;
      // top: 50%;
      // transform: translateY(-50%);
      width: auto;
      margin-left: 5%;
      padding: 0;
      margin-bottom: 0;
      margin-top: 0;
      white-space: nowrap;
      & .reviews {
        margin-top: 0;
        & a {
          font-weight: bold;
          text-decoration: underline;
          color: rgb(0, 78, 100);
          outline: none;
        }
      }
      & li {
        font-family: "Montserrat";
        list-style-type: none;
        text-overflow: ellipsis;
        font-size: 10pt;
        margin-top: 5%;
        & svg {
          width: 20px;
          height: auto;
        }
      }
      & li:first-child {
        margin-top: 0;
      }
      & .address:first-child {
        margin-top: 2.5%;
      }
      & .address:last-child {
        margin-top: 0;
      }
    }
  }
}
