.signInWrapper {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: relative;
  margin: 0;
  left: 0;
  padding: 0;
  & .animationWrapper {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    border: black solid 1px;
    position: relative;
    margin-left: auto;

    margin-right: auto;
    top: 50%;
    transform: translate(0, -50%);
    & .secondHandWrapper {
      animation-name: tiktok;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      top: 50%;
      transform: translate(0, -50%);
      height: fit-content;
      width: 100%;
      position: relative;
      & .innerWrapper {
        position: relative;
        overflow: hidden;
        width: 50%;
        background-attachment: transparent;
        margin-left: auto;
        margin-right: 0;
        & .secondHand {
          border-top: solid 1px black;
          width: 100%;
        }
      }
    }
  }
}

@keyframes tiktok {
  0% {
    transform: translate(0, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(0, -50%) rotateZ(360deg);
  }
}
