.searchResultCardWrapper {
  position: relative;
  top: 25px;
  height: 250px;
  margin-left: 25px;
  width: 200px;
  border: 1px solid black;
  & .searchResultCardImageWrapper {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 200px;
    overflow: hidden;
    object-fit: contain;
    position: absolute;
    & img {
      height: auto;
      position: relative;
      width: 200px;
    }
  }
  & .searchResultCardTextWrapper {
    position: relative;
    text-align: left;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    margin: 0;
    border: 1px solid black;
    & .itemText {
      float: left;
      left: 0;
      & li {
        list-style: none;
      }
    }
  }
  & button {
    border-radius: 6;
    cursor: pointer;
    position: relative;
    height: 30px;
    width: 30px;
    float: right;
    right: 10px;
    z-index: 1;
    top: 0px;
  }
}
