@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.searchResultCardWrapper {
  position: relative;
  top: 25px;
  height: 250px;
  margin-left: 25px;
  border-radius: 25px;
  width: 200px;
  border: 1px solid black;
  overflow: hidden;
}

.searchResultCardWrapper .searchResultCardImageWrapper {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 200px;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
}

.searchResultCardWrapper .searchResultCardImageWrapper img {
  height: auto;
  position: relative;
  width: 200px;
}

.searchResultCardWrapper .searchResultCardTextWrapper {
  position: relative;
  text-align: left;
  padding: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  margin: 0;
}

.searchResultCardWrapper .searchResultCardTextWrapper .itemText {
  padding: 0;
  float: left;
  left: 0;
}

.searchResultCardWrapper .searchResultCardTextWrapper .itemText .itemTitle {
  font-family: "Josefin Sans";
  font-size: large;
}

.searchResultCardWrapper .searchResultCardTextWrapper .itemText .itemTitle a {
  color: black;
}

.searchResultCardWrapper .searchResultCardTextWrapper .itemText .itemDetails {
  list-style: none;
  font-family: "Montserrat";
  font-size: 10pt;
}

.searchResultCardWrapper .searchResultCardTextWrapper .itemText .itemDetails a {
  color: #004e64;
}

.searchResultCardWrapper button {
  border-radius: 6;
  cursor: pointer;
  position: absolute;
  outline: none;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 10px;
  float: right;
  right: 10px;
  z-index: 1;
  top: 85px;
}

.searchResultCardWrapper .cardTime {
  color: red;
}

.searchResultCardWrapper a.cardTime {
  color: red;
}

.searchResultCardWrapper a.cardTime:visited {
  color: red;
}

.oneCurrencies .currencySymbol:nth-child(1) {
  color: black;
}

.oneCurrencies .currencySymbol:nth-child(2) {
  color: gray;
}

.oneCurrencies .currencySymbol:nth-child(3) {
  color: gray;
}

.oneCurrencies .currencySymbol:nth-child(4) {
  color: gray;
}

.twoCurrencies .currencySymbol:nth-child(1) {
  color: black;
}

.twoCurrencies .currencySymbol:nth-child(2) {
  color: black;
}

.twoCurrencies .currencySymbol:nth-child(3) {
  color: gray;
}

.twoCurrencies .currencySymbol:nth-child(4) {
  color: gray;
}

.threeCurrencies .currencySymbol:nth-child(1) {
  color: black;
}

.threeCurrencies .currencySymbol:nth-child(2) {
  color: black;
}

.threeCurrencies .currencySymbol:nth-child(3) {
  color: black;
}

.threeCurrencies .currencySymbol:nth-child(4) {
  color: gray;
}

.fourCurrencies .currencySymbol:nth-child(1) {
  color: black;
}

.fourCurrencies .currencySymbol:nth-child(2) {
  color: black;
}

.fourCurrencies .currencySymbol:nth-child(3) {
  color: black;
}

.fourCurrencies .currencySymbol:nth-child(4) {
  color: black;
}

.ratingWrapper {
  position: relative;
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.ratingWrapper .starWrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 5px;
  position: relative;
  display: inline-block;
}

.ratingWrapper .starWrapper svg {
  width: 25px;
  height: auto;
  position: relative;
  fill: #004e64;
}

.ratingWrapper .starWrapper .fullStar {
  fill: #004e64;
}

.ratingWrapper .starWrapper .emptyStar {
  fill: none;
  stroke: #004e64;
  stroke-width: 2px;
}

.ratingWrapper .starWrapper .halfStar .firstHalf {
  fill: #004e64;
}

.ratingWrapper .starWrapper .halfStar .secondHalf {
  fill: none;
  stroke-width: 2px;
  stroke: #004e64;
}
/*# sourceMappingURL=SearchResultCard.css.map */