@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.searchResultCardWrapper {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 250px;
  margin-left: 25px;
  width: 225px;
  background-color: white;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.searchResultCardWrapper .searchResultCardTextWrapper {
  position: relative;
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}

.searchResultCardWrapper .searchResultCardTextWrapper .itemText {
  padding: 0;
  float: left;
  left: 0;
  width: 100%;
}

.searchResultCardWrapper .searchResultCardTextWrapper .itemText .itemTitle {
  font-family: "Josefin Sans";
  font-size: large;
  word-wrap: normal;
}

.searchResultCardWrapper .searchResultCardTextWrapper .itemText .itemTitle a {
  white-space: pre-wrap;
  color: black;
}

.searchResultCardWrapper .searchResultCardTextWrapper .itemText .itemDetails {
  list-style: none;
  font-family: "Montserrat";
  font-size: 10pt;
}

.searchResultCardWrapper .searchResultCardTextWrapper .itemText .itemDetails .reviews {
  color: #004e64;
  font-weight: bold;
  text-decoration: none;
}

.searchResultCardWrapper .searchResultCardTextWrapper .itemText .itemDetails .eventPrice {
  color: #ffa638;
  font-weight: bold;
  text-decoration: none;
}

.searchResultCardWrapper .searchResultCardTextWrapper .itemText .itemDetails .currencySymbol {
  font-weight: bold;
  font-size: 18px;
}

.searchResultCardWrapper a.eventTime {
  color: #ffa638;
  font-weight: bold;
  text-decoration: none;
}

.searchResultCardWrapper span.eventTime {
  color: #ffa638;
}

.searchResultCardWrapper a.eventTime:visited {
  color: #ffa638;
}

.eventShadow:hover {
  -webkit-box-shadow: 0px 10px 10px rgba(255, 166, 56, 0.5);
          box-shadow: 0px 10px 10px rgba(255, 166, 56, 0.5);
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.placeShadow:hover {
  -webkit-box-shadow: 0px 10px 10px rgba(0, 78, 100, 0.5);
          box-shadow: 0px 10px 10px rgba(0, 78, 100, 0.5);
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.oneCurrencies .currencySymbol:nth-child(1) {
  color: #004e64;
}

.oneCurrencies .currencySymbol:nth-child(2) {
  color: #9dcbd0;
}

.oneCurrencies .currencySymbol:nth-child(3) {
  color: #9dcbd0;
}

.oneCurrencies .currencySymbol:nth-child(4) {
  color: #9dcbd0;
}

.twoCurrencies .currencySymbol:nth-child(1) {
  color: #004e64;
}

.twoCurrencies .currencySymbol:nth-child(2) {
  color: #004e64;
}

.twoCurrencies .currencySymbol:nth-child(3) {
  color: #9dcbd0;
}

.twoCurrencies .currencySymbol:nth-child(4) {
  color: #9dcbd0;
}

.threeCurrencies .currencySymbol:nth-child(1) {
  color: #004e64;
}

.threeCurrencies .currencySymbol:nth-child(2) {
  color: #004e64;
}

.threeCurrencies .currencySymbol:nth-child(3) {
  color: #004e64;
}

.threeCurrencies .currencySymbol:nth-child(4) {
  color: #9dcbd0;
}

.fourCurrencies .currencySymbol:nth-child(1) {
  color: #004e64;
}

.fourCurrencies .currencySymbol:nth-child(2) {
  color: #004e64;
}

.fourCurrencies .currencySymbol:nth-child(3) {
  color: #004e64;
}

.fourCurrencies .currencySymbol:nth-child(4) {
  color: #004e64;
}

.ratingWrapper {
  position: relative;
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.ratingWrapper .starWrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 5px;
  position: relative;
  display: inline-block;
}

.ratingWrapper .starWrapper svg {
  width: 25px;
  height: auto;
  position: relative;
  fill: #004e64;
}

.ratingWrapper .starWrapper .fullStar {
  fill: #004e64;
}

.ratingWrapper .starWrapper .emptyStar {
  fill: none;
  stroke: #004e64;
  stroke-width: 2px;
}

.ratingWrapper .starWrapper .halfStar .firstHalf {
  fill: #004e64;
  stroke-width: 2px;
  stroke: #004e64;
}

.ratingWrapper .starWrapper .halfStar .secondHalf {
  stroke: #004e64;
  stroke-width: 2px;
  fill: transparent;
}

.schedulePage .starWrapper svg {
  width: 20px;
  height: auto;
}

.searchResultCardWrapper:last-child {
  margin-right: 25px;
}

@media (max-width: 1024px) {
  .searchResultCardWrapper {
    width: 150px;
    height: 80%;
  }
  .searchResultCardWrapper .searchResultCardTextWrapper {
    position: relative;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
  }
  .searchResultCardWrapper .searchResultCardTextWrapper .itemText {
    padding: 0;
    float: left;
    left: 0;
    width: 100%;
  }
  .searchResultCardWrapper .searchResultCardTextWrapper .itemText .itemTitle {
    font-family: "Josefin Sans";
    font-size: large;
    word-wrap: normal;
  }
  .searchResultCardWrapper .searchResultCardTextWrapper .itemText .itemTitle a {
    white-space: pre-wrap;
    color: black;
  }
  .searchResultCardWrapper .searchResultCardTextWrapper .itemText .itemDetails {
    list-style: none;
    font-family: "Montserrat";
    font-size: 10pt;
  }
  .searchResultCardWrapper .searchResultCardTextWrapper .itemText .itemDetails .reviews {
    color: #004e64;
    font-weight: bold;
    text-decoration: none;
  }
  .searchResultCardWrapper .searchResultCardTextWrapper .itemText .itemDetails .eventPrice {
    color: #ffa638;
    font-weight: bold;
    text-decoration: none;
  }
  .searchResultCardWrapper .searchResultCardTextWrapper .itemText .itemDetails .currencySymbol {
    font-weight: bold;
    font-size: 18px;
  }
  .searchResultCardWrapper a.eventTime {
    color: #ffa638;
    font-weight: bold;
    text-decoration: none;
  }
  .searchResultCardWrapper span.eventTime {
    color: #ffa638;
  }
  .searchResultCardWrapper a.eventTime:visited {
    color: #ffa638;
  }
}
/*# sourceMappingURL=SearchResultCard.css.map */