@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.searchResultCardWrapper {
  position: relative;
  top: 25px;
  height: 250px;
  margin-left: 25px;
  border-radius: 25px;
  width: 225px;
  background-color: white;
  overflow: hidden;
  transition: 250ms ease-in;
  & .searchResultCardImageWrapper {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 225px;
    overflow: hidden;
    object-fit: contain;
    position: absolute;
    & img {
      height: auto;
      position: relative;
      width: 225px;
    }
  }
  & .searchResultCardTextWrapper {
    position: relative;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    margin: 0;
    & .itemText {
      padding: 0;
      float: left;
      left: 0;
      width: 100%;
      & .itemTitle {
        font-family: "Josefin Sans";
        font-size: large;
        word-wrap: normal;

        & a {
          white-space: pre-wrap;
          color: black;
        }
      }
      & .itemDetails {
        list-style: none;
        font-family: "Montserrat";
        font-size: 10pt;
        & .reviews {
          color: rgb(0, 78, 100);
          font-weight: bold;
          text-decoration: none;
        }
        & .eventPrice {
          color: rgb(255, 166, 56);
          font-weight: bold;
          text-decoration: none;
        }
        & .currencySymbol {
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
  }
  & .partButton {
    border-radius: 6;
    cursor: pointer;
    position: absolute;
    outline: none;
    height: 30px;
    width: 30px;
    border: none;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 16pt;
    color: white;
    border-radius: 10px;
    float: right;
    right: 10px;
    z-index: 1;
    top: 85px;
  }

  .eventButton {
    background-color: rgb(255, 166, 56);
  }
  .placeButton {
    background-color: rgb(0, 78, 100);
  }

  & a.eventTime {
    color: rgb(255, 166, 56);
    font-weight: bold;
    text-decoration: none;
  }

  & span.eventTime {
    color: rgb(255, 166, 56);
  }

  & a.eventTime:visited {
    color: rgb(255, 166, 56);
  }
}

.eventShadow:hover {
  box-shadow: 0px 10px 10px rgba(255, 166, 56, 0.5);
  transition: 250ms ease-out;
}

.placeShadow:hover {
  box-shadow: 0px 10px 10px rgba(0, 78, 100, 0.5);
  transition: 250ms ease-out;
}
.oneCurrencies {
  & .currencySymbol:nth-child(1) {
    color: rgb(0, 78, 100);
  }
  & .currencySymbol:nth-child(2) {
    color: rgb(157, 203, 208);
  }
  & .currencySymbol:nth-child(3) {
    color: rgb(157, 203, 208);
  }
  & .currencySymbol:nth-child(4) {
    color: rgb(157, 203, 208);
  }
}
.twoCurrencies {
  & .currencySymbol:nth-child(1) {
    color: rgb(0, 78, 100);
  }
  & .currencySymbol:nth-child(2) {
    color: rgb(0, 78, 100);
  }
  & .currencySymbol:nth-child(3) {
    color: rgb(157, 203, 208);
  }
  & .currencySymbol:nth-child(4) {
    color: rgb(157, 203, 208);
  }
}
.threeCurrencies {
  & .currencySymbol:nth-child(1) {
    color: rgb(0, 78, 100);
  }
  & .currencySymbol:nth-child(2) {
    color: rgb(0, 78, 100);
  }
  & .currencySymbol:nth-child(3) {
    color: rgb(0, 78, 100);
  }
  & .currencySymbol:nth-child(4) {
    color: rgb(157, 203, 208);
  }
}
.fourCurrencies {
  & .currencySymbol:nth-child(1) {
    color: rgb(0, 78, 100);
  }
  & .currencySymbol:nth-child(2) {
    color: rgb(0, 78, 100);
  }
  & .currencySymbol:nth-child(3) {
    color: rgb(0, 78, 100);
  }
  & .currencySymbol:nth-child(4) {
    color: rgb(0, 78, 100);
  }
}

.ratingWrapper {
  position: relative;
  text-align: left;
  width: fit-content;
  height: fit-content;
  & .starWrapper {
    height: fit-content;
    width: fit-content;
    margin-right: 5px;
    position: relative;
    display: inline-block;
    & svg {
      width: 25px;
      height: auto;
      position: relative;
      fill: rgb(0, 78, 100);
    }
    & .fullStar {
      fill: rgb(0, 78, 100);
    }
    & .emptyStar {
      fill: none;
      stroke: rgb(0, 78, 100);
      stroke-width: 2px;
    }
    & .halfStar {
      & .firstHalf {
        fill: rgb(0, 78, 100);
      }
      & .secondHalf {
        fill: none;
        stroke-width: 2px;
        stroke: rgb(0, 78, 100);
      }
    }
  }
}
