@import url("https://fonts.googleapis.com/css?family=Montserrat");

.whereSelectWrapper {
  // position: relative;
  // width: 400px;
  // height: fit-content;
  // top: 50px;

  & p {
    font-family: "Montserrat";
    font-size: large;
    font-weight: bolder;
  }
  & .where {
    background: transparent;
    font-family: "Montserrat";
    font-size: 12pt;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    // width: 225px;
  }

  & select {
    margin-left: 10px;
    font-family: "Montserrat";

    outline: none;
    border: none;
    border-bottom: 1px solid black;
  }
}

.HomePage {
  grid-area: where;
  width: fit-content;
  height: fit-content;
  margin-left: 40px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "label label" "location radius";
  flex-flow: column nowrap;
  & span {
    grid-area: label;
    font-family: "Montserrat";
    font-size: 12pt;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  & .where {
    grid-area: location;
    background: transparent;
    font-family: "Montserrat";
    font-size: 9pt;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 200px;
  }

  & select {
    grid-area: radius;
    margin-left: 8px;
    font-family: "Montserrat";
    font-size: 9pt;
    width: 115px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
  }
}

.SearchPage {
  margin-left: 25px;
  width: fit-content;
  height: fit-content;
  flex-flow: row nowrap;
  // border: 1px solid black;
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
  flex: 1 2 3;
  grid-area: where;
  grid-row-end: when;
  position: relative;
  margin-top: 10px;

  & span {
    font-family: "Montserrat";
    font-size: large;
    font-weight: bolder;
    top: 0;
    order: 1;
  }
  & .where {
    background: transparent;
    font-family: "Montserrat";
    font-size: 12pt;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 225px;
    top: 0;
    order: 2;
    margin-left: 10px;
  }

  & select {
    margin-left: 10px;
    font-family: "Montserrat";
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    order: 3;
  }
}
