.mobileLinks {
  display: none;
}

@media (max-width: 1024px) {
  .mobileLinks {
    top: 10vh;
    height: 90vh;
    width: 50vw;
    position: absolute;
    left: 0;
    z-index: 4;
    background: white;
    display: flex;
    flex-flow: column nowrap;

    & .pageLink:first-child {
      margin-top: 10%;
    }
    & .pageLink {
      margin-top: 2.5%;
      margin-bottom: 2.5%;
      position: relative;
      margin-left: auto;
      margin-right: auto;

      & a {
        text-decoration: none;
        font-family: "Montserrat";
        font-weight: bolder;
      }
    }
    & .pageLink:last-child {
      margin-right: auto;
    }
  }
}
