.linksWrapper {
  position: relative;
  float: right;
  margin-right: 5%;
  margin-left: auto;
  height: fit-content;
  width: 35%;
  display: flex;
  flex-flow: row nowrap;

  transform: translateY(-50%);
  top: 50%;

  &.retracted {
    transform: translate(0, -50%);
  }

  & .pageLink {
    outline: none;
    margin-right: auto;
    white-space: nowrap;
    width: fit-content;
    height: fit-content;
    & a {
      text-decoration: none;
      font-family: "Montserrat";
      font-weight: 900;
      font-size: large;
      transition: 250ms ease-in;
    }
  }
  & .pageLink:last-child {
    margin-right: 0;
  }
}

@media (min-width: 0) and (max-width: 1024px) {
  .linksWrapper {
    display: none;
  }
}
