.insideNav {
  position: relative;
  float: right;
  margin-right: 5%;
  margin-left: auto;
  height: fit-content;
  width: 35%;
  display: flex;
  flex-flow: row nowrap;

  transform: translateY(-50%);
  top: 50%;

  &.retracted {
    transform: translate(0, -50%);
  }

  & .pageLink {
    margin-right: auto;
    white-space: nowrap;
    width: fit-content;
    height: fit-content;
    & a {
      text-decoration: none;
      font-family: "Montserrat";
      font-weight: 900;
      font-size: large;
      transition: 250ms ease-in;
    }
  }
  & .pageLink:last-child {
    margin-right: 0;
  }
}
.modalDark {
  display: none;
}

.retracted {
  transform: translate(0, 0);
}

.outsideNav {
  display: none;
}

@media (min-width: 0) and (max-width: 1024px) {
  .insideNav {
    display: none;
  }
  .outsideNav {
    top: 10vh;
    height: 90vh;
    width: 50vw;
    position: absolute;
    left: 0;
    z-index: 4;
    background: white;
    display: flex;
    flex-flow: column nowrap;

    & .pageLink:first-child {
      margin-top: 10%;
    }
    & .pageLink {
      margin-top: 2.5%;
      margin-bottom: 2.5%;
      position: relative;
      margin-left: auto;
      margin-right: auto;

      & a {
        text-decoration: none;
        font-family: "Montserrat";
        font-weight: bolder;
      }
    }
    & .pageLink:last-child {
      margin-right: auto;
    }
  }

  .modalDark {
    display: block;
    top: 10vh;
    float: right;
    right: 0;
    position: absolute;
    width: 50vw;
    height: 90vh;
    background: rgba(100, 100, 100, 0.5);
  }

  // .retracted .modalDark {
  //   transform: translate(100%, 0);
  //   transition: 250ms ease-in-out;
  // }
  // .extended .modalDark {
  //   transform: translate(0, 0);
  //   transition: 250ms ease-in-out;
  // }

  // .retracted .outsideNav {
  //   transform: translate(-100%, 0);
  //   transition: 250ms ease-in-out;
  // }

  // .extended .outsideNav {
  //   transform: translate(0, 0);
  //   transition: 250ms ease-in-out;
  // }
}
