.partWrapper {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  transition: 250ms ease-in-out;
  height: 100px;
  overflow: hidden;
  width: 90%;
  & .partImageWrapper {
    height: 100px;
    width: 100px;
    object-fit: contain;
    overflow: hidden;
    & img {
      height: 100px;
      width: auto;
    }
  }
  & .detailsWrapper {
    flex-flow: nowrap column;
    display: flex;

    & .titleWrapper {
      position: relative;
      margin: auto;
      height: fit-content;
      width: fit-content;
      & .text {
        font-size: 10pt;
        height: fit-content;
        width: fit-content;
        position: relative;
        margin: auto;
      }
    }
    & .timesWrapper {
      display: flex;
      flex-flow: column nowrap;
      grid-area: times;
      width: 100%;
      height: fit-content;
      width: fit-content;
      margin: auto;
      position: relative;
      justify-content: space-between;
      & .time {
        width: 100%;
      }
    }
  }
}

.time:nth-child(1) {
  margin-left: 2.5%;
  margin-right: auto;
}
.time:nth-child(2) {
  margin-right: 2.5%;
  margin-left: auto;
}

.partWrapper:hover {
  box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.5);
}
