.partWrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "image title" "times";
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 90%;
  & .partImageWrapper {
    height: fit-content;
    width: 100px;
    object-fit: contain;
    overflow: hidden;
    & img {
      height: auto;
      width: 100px;
    }
  }
  & .textWrapper {
    position: relative;
    margin: auto;
    height: fit-content;
    width: fit-content;
    & .text {
      font-size: 10pt;
      height: fit-content;
      width: fit-content;
      position: relative;
      margin: auto;
    }
  }
  & .timesWrapper {
    display: flex;
    flex-flow: row nowrap;
    grid-area: times;
    height: fit-content;
    width: fit-content;
    margin: auto;
    position: relative;
  }
}
