.lengthenWrapper {
  background: transparent;
  cursor: pointer;
  color: darkgray;
  font-family: "Josefin Sans";
  transition: 250ms ease-in;
  height: 50px;
  right: 0;
  width: 40px;
  margin-left: 5px;
  text-align: center;
  & .oWrapper {
    top: 50%;
    transform: translateY(-50%);
    transition: 250ms ease-in;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  &:hover {
    background: blue;
    color: white;
    transition: 250ms ease-out;
  }
}

@media (max-width) {
  .lengthenWrapper {
    margin-left: auto;
    margin-right: 0;
  }
}
