$tablet-width: 1024px;

.partsIcon {
  display: none;
  position: relative;
  margin-left: 2.5%;
  margin-right: 5%;
  top: 50%;
  transform: translate(0, -50%);
  width: 30px;
  height: 30px;
  border: solid 1px black;
  z-index: 5;
}

@media (min-width: 0) and (max-width: $tablet-width) {
  .partsIcon {
    display: block;
  }
}
