.datePartsPieceWrapper {
  height: 50px;
  width: 200px;
  margin-bottom: 10px;
  float: left;
  position: relative;
  left: 0;
  border: solid 1px black;
  overflow: hidden;
  & .partTitleWrapper {
    border: solid 1px black;
    float: left;
    left: 50px;
    width: 100px;
    text-align: left;
    position: absolute;
    font-size: 8pt;
    overflow: hidden;
  }

  & .partImageWrapper {
    height: 50px;
    width: 50px;
    overflow: hidden;
    object-fit: contain;
    float: left;
    padding: 0;
    left: 0;
    position: relative;
    text-align: left;
    & img {
      height: 50px;
      width: auto;
      position: relative;
    }
  }
  & .partRemove {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    top: 10px;
    border: 0;
    position: absolute;
    float: right;
    cursor: pointer;
    right: 0;
    background: darkgray;
  }
}
