@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.datePartsPieceWrapper {
  cursor: pointer;
  width: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
  float: left;
  position: relative;
  background-color: white;
  left: 0;
  font-weight: bold;
  overflow: hidden;
  transition: 250ms ease-in;

  & .partTitleWrapper {
    float: left;
    font-family: "Josefin Sans";
    left: 55px;
    width: 100px;
    text-align: left;
    top: 20%;
    transform: translateY(-20%);
    position: absolute;
    font-size: 10pt;
    overflow: hidden;
    word-wrap: normal;
  }

  & .partImageWrapper {
    height: 50px;
    width: 50px;
    overflow: hidden;
    object-fit: contain;
    float: left;
    padding: 0;
    left: 0;
    position: relative;
    text-align: left;
    & img {
      height: 50px;
      width: auto;
      position: relative;
    }
  }
  .moreInfo {
    background: transparent;
    height: 50px;
    cursor: pointer;
    width: 20px;
    & .infoArrow {
      width: 20px;
      height: auto;
    }
  }

  .removePart {
    background: transparent;
    cursor: pointer;
    color: darkgray;
    font-family: "Josefin Sans";
    transition: 250ms ease-in;
    height: 50px;
    top: 0;
    width: 40px;
    position: absolute;
    text-align: center;
    & .xWrapper {
      top: 50%;
      transform: translateY(-50%);
      margin-right: auto;
      margin-left: auto;
      position: relative;
    }

    &:hover {
      background: rgb(235, 58, 17);
      color: white;
      transition: 250ms ease-out;
    }
  }
}

.smallClass {
  height: 50px;
}

.extendedClass {
  height: 100px;
  & .partTitleWrapper {
    transition: 250ms ease-out;
    position: absolute;
    top: 10%;
    transform: translateY(-10%);
    position: absolute;
  }
  & .partDetailWrapper {
    width: 100%;
    position: relative;
    top: 50px;
    margin-left: 5px;
    & .partDetailText {
      position: absolute;
      font-size: 10pt;
      float: left;
      left: 0;
      font-family: "Montserrat";
    }
    .partPlacePrice {
      & .currencySymbol {
        font-size: 10pt;
      }
    }
  }
}

// .oneCurrencies {
//   & .currencySymbol:nth-child(1) {
//     color: rgb(0, 78, 100);
//   }
//   & .currencySymbol:nth-child(2) {
//     color: rgb(157, 203, 208);
//   }
//   & .currencySymbol:nth-child(3) {
//     color: rgb(157, 203, 208);
//   }
//   & .currencySymbol:nth-child(4) {
//     color: rgb(157, 203, 208);
//   }
// }
// .twoCurrencies {
//   & .currencySymbol:nth-child(1) {
//     color: rgb(0, 78, 100);
//   }
//   & .currencySymbol:nth-child(2) {
//     color: rgb(0, 78, 100);
//   }
//   & .currencySymbol:nth-child(3) {
//     color: rgb(157, 203, 208);
//   }
//   & .currencySymbol:nth-child(4) {
//     color: rgb(157, 203, 208);
//   }
// }
// .threeCurrencies {
//   & .currencySymbol:nth-child(1) {
//     color: rgb(0, 78, 100);
//   }
//   & .currencySymbol:nth-child(2) {
//     color: rgb(0, 78, 100);
//   }
//   & .currencySymbol:nth-child(3) {
//     color: rgb(0, 78, 100);
//   }
//   & .currencySymbol:nth-child(4) {
//     color: rgb(157, 203, 208);
//   }
// }
// .fourCurrencies {
//   & .currencySymbol:nth-child(1) {
//     color: rgb(0, 78, 100);
//   }
//   & .currencySymbol:nth-child(2) {
//     color: rgb(0, 78, 100);
//   }
//   & .currencySymbol:nth-child(3) {
//     color: rgb(0, 78, 100);
//   }
//   & .currencySymbol:nth-child(4) {
//     color: rgb(0, 78, 100);
//   }
// }

.oneCurrencies {
  & .currencySymbol:nth-child(1) {
    color: rgb(157, 203, 208);
  }
  & .currencySymbol:nth-child(2) {
    color: rgb(157, 203, 208);
  }
  & .currencySymbol:nth-child(3) {
    color: rgb(157, 203, 208);
  }
  & .currencySymbol:nth-child(4) {
    color: rgb(0, 78, 100);
  }
}
.twoCurrencies {
  & .currencySymbol:nth-child(1) {
    color: rgb(157, 203, 208);
  }
  & .currencySymbol:nth-child(2) {
    color: rgb(157, 203, 208);
  }
  & .currencySymbol:nth-child(3) {
    color: rgb(0, 78, 100);
  }
  & .currencySymbol:nth-child(4) {
    color: rgb(0, 78, 100);
  }
}
.threeCurrencies {
  & .currencySymbol:nth-child(1) {
    color: rgb(157, 203, 208);
  }
  & .currencySymbol:nth-child(2) {
    color: rgb(0, 78, 100);
  }
  & .currencySymbol:nth-child(3) {
    color: rgb(0, 78, 100);
  }
  & .currencySymbol:nth-child(4) {
    color: rgb(0, 78, 100);
  }
}
.fourCurrencies {
  & .currencySymbol:nth-child(1) {
    color: rgb(0, 78, 100);
  }
  & .currencySymbol:nth-child(2) {
    color: rgb(0, 78, 100);
  }
  & .currencySymbol:nth-child(3) {
    color: rgb(0, 78, 100);
  }
  & .currencySymbol:nth-child(4) {
    color: rgb(0, 78, 100);
  }
}

.eventTitle {
  color: rgb(255, 166, 56);
}

.placeTitle {
  color: rgb(0, 78, 100);
}

.eventWrapper:hover {
  box-shadow: 0px 0px 10px rgba(255, 166, 56, 0.5);
  transition: 250ms ease-out;
}

.placeWrapper:hover {
  box-shadow: 0px 0px 10px rgba(0, 78, 100, 0.5);
  transition: 250ms ease-out;
}
