@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

.datePartsPieceWrapper {
  height: 50px;
  width: 200px;
  margin-bottom: 10px;
  float: left;
  position: relative;
  left: 0;
  border: solid 1px black;
  font-weight: bold;
  overflow: hidden;
  & .partTitleWrapper {
    border: solid 1px black;
    float: left;
    font-family: "Josefin Sans";
    left: 55px;
    width: 100px;
    text-align: left;
    position: absolute;
    font-size: 10pt;
    overflow: hidden;
    word-wrap: normal;
  }

  & .partImageWrapper {
    height: 50px;
    width: 50px;
    overflow: hidden;
    object-fit: contain;
    float: left;
    padding: 0;
    left: 0;
    position: relative;
    text-align: left;
    & img {
      height: 50px;
      width: auto;
      position: relative;
    }
  }
  & .partRemove {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    top: 10px;
    color: darkgray;
    border: 0;
    position: absolute;
    float: right;
    cursor: pointer;
    right: 5px;
    background: lightgray;
  }
}

.eventPart {
  color: rgb(255, 166, 56);
}

.placePart {
  color: rgb(0, 78, 100);
}
