.pointerWrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100px;
  height: 100px;
  z-index: 100;
  height: fit-content;
  width: 10%;
  margin: auto;
  animation-name: point;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: 250 ease-in-out;
  & .arrowWrapper {
    height: fit-content;
    width: fit-content;
    position: relative;
    margin: auto;
    & svg {
      height: 60px;
      width: auto;
      position: relative;
      fill: white;
      margin: auto;
    }
  }
}

@keyframes point {
  0% {
    transform: translateX(-10%);
  }

  100% {
    opacity: 0;
    transform: translateX(60%);
  }
}
