@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.stepWrapper {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  & .textWrapper {
    color: white;
    font-family: "Montserrat";
    font-size: 20pt;
  }
}
