.schedulerWrapper {
  width: 100%;
  height: 1030px;
  top: 0;
  position: relative;
  margin: 0;
  left: 0;
  padding: 0;
  background: rgb(135, 216, 183);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: "pieces scheduler";
}
