@import url("https://fonts.googleapis.com/css?family=Montserrat");

.whenSelectWrapper {
  // position: relative;
  // width: 400px;
  // height: fit-content;
  // top: 50px;
  // margin-left: auto;
  // margin-right: auto;
  & span {
    font-family: "Montserrat";
    font-size: large;
    font-weight: bolder;
  }
  & .from {
    margin-block-start: 5px;
    margin-block-end: 5px;
    color: gray;
    font-size: 10pt;
  }
  & .to {
    margin-block-start: 5px;
    margin-block-end: 5px;
    color: gray;
    font-size: 10pt;
  }
  & .datePicker {
    font-family: "Montserrat";
    outline: none;
    width: 200px;
    border: none;
    border-bottom: 1px solid black;
  }
}

.homePage {
  grid-area: when;
  width: fit-content;
  height: fit-content;
  margin-left: 40px;

  & span {
    font-family: "Montserrat";
    font-size: 12pt;
    font-weight: bolder;
  }

  & .datePicker {
    font-family: "Montserrat";
    outline: none;
    width: 220px;
    font-size: 9pt;
    border: none;
    border-bottom: 1px solid black;
  }
  & .datePicker:nth-child(1) {
    margin-top: 10px;
  }
  & .datePicker:nth-child(2) {
    margin-top: 15px;
  }
}

.searchPage {
  width: fit-content;
  height: fit-content;
  margin-top: 2%;
  margin-left: auto;
  display: grid;
  grid-area: when;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "label time" ". time";

  & .when {
    font-family: "Montserrat";
    white-space: nowrap;
    font-size: 11pt;
    font-weight: bolder;
    grid-area: label;
  }

  & .timeWrapper {
    grid-area: time;
    display: flex;
    flex-flow: column nowrap;
    width: auto;
    margin-left: 2.5%;
    & .toPicker {
      grid-area: to;
      margin-top: 2.5%;
      margin-right: 0;
      margin-left: auto;
    }

    & .datePicker {
      font-family: "Montserrat";
      outline: none;
      width: 250px;
      border: none;
      border-bottom: 1px solid black;
      z-index: 4;
    }
  }
}

.navBar {
  margin-right: 2.5%;
  margin-left: 2.5%;
  grid-area: when;
  display: flex;
  flex-flow: column nowrap;
  .when {
    font-family: "Montserrat";
    font-size: 12pt;
    font-weight: bold;
    width: 100%;
  }
  .timeWrapper {
    margin-right: auto;
    margin-left: auto;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    .datePicker {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      background: transparent;
    }
  }
}
