@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

@font-face {
  font-family: "Butler-Bold";
  src: url("../../assets/Fonts/Butler-Bold.woff") format("woff"),
    url("../../assets/Fonts/Butler-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.schedulerPage {
  width: 20%;
  height: 600px;
  position: relative;
  margin-right: 5%;
  margin-left: auto;
  box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.5);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-flow: nowrap column;
  & .headerWrapper {
    height: 25%;
    width: 100%;
    display: grid;
    // flex-flow: column nowrap;
    grid-template-columns: 100%;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas: "title" "account" "selector";
    & .sectionTitle {
      height: fit-content;
      width: fit-content;
      grid-area: title;
      font-family: "Josefin Sans";
      font-weight: 900;
      position: relative;
      margin-left: 5%;
      margin-top: 5%;
    }

    & .selectorWrapper {
      grid-area: selector;
      display: flex;
      flex: row nowrap;
      justify-content: center;
      & .savedSlider {
        position: absolute;
        display: block;
        height: 5%;
        transform: translate(0, 15%);
        z-index: -1;
        border-radius: 5vh;
        transition: 250ms ease-in-out;
        width: 30%;
        float: left;
        background: rgb(118, 200, 152);
      }
      & .addDeleteWrapper {
        height: fit-content;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }
      & .selectorTextWrapper {
        height: fit-content;
        width: fit-content;
        cursor: pointer;
        margin: auto;
        & .selectorText {
          font-size: 10pt;
          font-family: "Butler-Bold";
        }
      }
    }
  }
  & .datesWrapper {
    height: 75%;
    width: 100%;
    overflow-y: scroll;
    & .datesInner {
      height: auto;
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
    }
  }
}

.mobileSelector {
  display: none;
}

.mobileSlider {
  display: none;
}

.datesWrapper::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1024px) {
  .savedSlider {
    display: none;
  }
  .schedulerPage {
    display: none;
  }
  .mobileSelector {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: nowrap column;
    & .headerWrapper {
      height: 25%;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      & .sectionTitle {
        display: none;
      }

      & .selectorWrapper {
        width: 100%;
        order: 1;
        grid-area: selector;
        display: flex;
        flex: row nowrap;
        justify-content: center;
        & .mobileSlider {
          transition: 250ms ease-in-out;
          display: block;
          height: 5vh;
          width: 30%;
          float: left;
          top: 0.5vh;
          // left: 10%;
          border-radius: 50vh;
          z-index: -1;
          background: rgb(118, 200, 152);
          position: absolute;
        }
        & .addDeleteWrapper {
          height: fit-content;

          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
        }
        & .selectorTextWrapper {
          height: fit-content;
          width: fit-content;
          cursor: pointer;
          margin: auto;
          & .selectorText {
            font-size: 10pt;
            font-family: "Butler-Bold";
          }
        }
      }
    }
    & .datesWrapper {
      height: 75%;
      width: 100%;
      overflow-y: scroll;

      & .datesInner {
        height: auto;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
      }
      & .datesWrapper::-webkit-scrollbar {
        display: block;
      }
    }
  }
}
