@font-face {
  font-family: "Butler-Bold";
  src: url("../../assets/Fonts/Butler-Bold.woff") format("woff"),
    url("../../assets/Fonts/Butler-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.savedWrapper {
  width: 20%;
  height: 600px;
  position: relative;
  margin-right: 5%;
  margin-left: auto;
  box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.5);

  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-flow: nowrap column;
  & .headerWrapper {
    height: 25%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-row: auto auto;
    grid-template-areas: "account" "selector";
    & .accountWrapper {
      grid-area: account;
      & .accountText {
        position: relative;
        height: fit-content;
        width: fit-content;
        top: 50%;
        transform: translate(0, -50%);
        margin-left: auto;
        margin-right: auto;
      }
    }
    & .selectorWrapper {
      grid-area: selector;
      display: flex;
      flex: row nowrap;
      justify-content: center;
      & .selectorTextWrapper {
        height: fit-content;
        width: fit-content;
        cursor: pointer;
        margin: auto;
        & .selectorText {
          font-size: 10pt;
          font-family: "Butler-Bold";
        }
      }
    }
  }
  & .datesWrapper {
    height: 75%;
    width: 100%;
    overflow: hidden;
    & .datesInner {
      height: auto;
      width: 100%;
    }
  }
}
