@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@font-face {
  font-family: "Butler-Bold";
  src: url("../../assets/Fonts/Butler-Bold.woff") format("woff"), url("../../assets/Fonts/Butler-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.schedulerPage {
  width: 20%;
  height: 600px;
  position: relative;
  margin-right: 5%;
  margin-left: auto;
  -webkit-box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.5);
          box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.5);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
}

.schedulerPage .headerWrapper {
  height: 25%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 25% 50% 25%;
      grid-template-rows: 25% 50% 25%;
      grid-template-areas: "title" "account" "selector";
}

.schedulerPage .headerWrapper .sectionTitle {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-family: "Josefin Sans";
  font-weight: 900;
  position: relative;
  margin-left: 5%;
  margin-top: 5%;
}

.schedulerPage .headerWrapper .selectorWrapper {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: selector;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row nowrap;
          flex: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.schedulerPage .headerWrapper .selectorWrapper .savedSlider {
  position: absolute;
  display: block;
  height: 5%;
  -webkit-transform: translate(0, 15%);
          transform: translate(0, 15%);
  z-index: -1;
  border-radius: 5vh;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  width: 30%;
  float: left;
  background: #76c898;
}

.schedulerPage .headerWrapper .selectorWrapper .addDeleteWrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.schedulerPage .headerWrapper .selectorWrapper .selectorTextWrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  outline: none;
  margin: auto;
}

.schedulerPage .headerWrapper .selectorWrapper .selectorTextWrapper .selectorText {
  font-size: 10pt;
  outline: none;
  font-family: "Butler-Bold";
}

.schedulerPage .datesWrapper {
  height: 75%;
  width: 100%;
  overflow-y: scroll;
}

.schedulerPage .datesWrapper .datesInner {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.mobileSelector {
  display: none;
}

.mobileSlider {
  display: none;
}

.datesWrapper::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1024px) {
  .savedSlider {
    display: none;
  }
  .schedulerPage {
    display: none;
  }
  .mobileSelector {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap column;
            flex-flow: nowrap column;
  }
  .mobileSelector .headerWrapper {
    height: 25%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .mobileSelector .headerWrapper .sectionTitle {
    display: none;
  }
  .mobileSelector .headerWrapper .selectorWrapper {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: selector;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: row;
        -ms-flex: row nowrap;
            flex: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobileSelector .headerWrapper .selectorWrapper .mobileSlider {
    -webkit-transition: 250ms ease-in-out;
    transition: 250ms ease-in-out;
    display: block;
    height: 5vh;
    width: 30%;
    float: left;
    top: 0.5vh;
    border-radius: 50vh;
    z-index: -1;
    background: #76c898;
    position: absolute;
  }
  .mobileSelector .headerWrapper .selectorWrapper .addDeleteWrapper {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobileSelector .headerWrapper .selectorWrapper .selectorTextWrapper {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    outline: none;
    cursor: pointer;
    margin: auto;
  }
  .mobileSelector .headerWrapper .selectorWrapper .selectorTextWrapper .selectorText {
    outline: none;
    font-size: 10pt;
    font-family: "Butler-Bold";
  }
  .mobileSelector .datesWrapper {
    height: 75%;
    width: 100%;
    overflow-y: scroll;
  }
  .mobileSelector .datesWrapper .datesInner {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .mobileSelector .datesWrapper .datesWrapper::-webkit-scrollbar {
    display: block;
  }
}
/*# sourceMappingURL=SavedDates.css.map */