@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

.searchBoxWrapper {
  // height: 600px;
  background: white;
  // width: 500px;
  position: relative;
  display: grid;
  box-shadow: 4px 4px 10px black;
  overflow: hidden;
  & .submitButton {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 65px;
    border: solid 3px rgb(94, 223, 197);
    background: rgb(94, 223, 197);
    float: right;
    right: 25px;
    bottom: 25px;
    margin: 0;
    transition: 250ms ease-in;

    cursor: pointer;
    & .arrowWrapper {
      position: relative;
      top: 10px;
      margin-right: auto;
      margin-left: auto;
      padding: 0;
      height: fit-content;
      width: fit-content;
      & .arrow {
        fill: white;
        transition: 250ms ease-in;
        position: relative;
        width: auto;
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
  & .submitButton:hover {
    transition: 250ms ease-out;
    border: solid 3px rgb(94, 223, 197);

    background: white;
    & .arrow {
      transition: 250ms ease-out;
      fill: rgb(94, 223, 197);
    }
  }
}

.HomePage {
  float: right;
  height: 600px;
  width: 500px;
  right: 100px;
  top: 50px;
  position: relative;
}

.SearchPage {
  position: relative;
  float: left;
  width: 1200px;
  height: 300px;
  left: 2.5%;
  top: 50px;
}
