@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

.searchBoxWrapper {
  height: 600px;
  background: white;
  width: 500px;
  position: relative;
  float: right;
  top: 50px;
  right: 100px;
  border-radius: 40px;
  box-shadow: 4px 4px 10px black;
  & .submitButton {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 65px;
    border: solid 3px black;
    float: right;
    right: 25px;
    bottom: 25px;
    margin: 0;
    transition: 250ms ease-in;

    cursor: pointer;
    & .arrowWrapper {
      position: relative;
      top: 10px;
      margin-right: auto;
      margin-left: auto;
      padding: 0;
      height: fit-content;
      width: fit-content;
      & .arrow {
        transition: 250ms ease-in;
        position: relative;
        width: auto;
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
  & .submitButton:hover {
    transition: 250ms ease-out;

    border: 3px solid rgb(94, 223, 197);
    & svg {
      transition: 250ms ease-out;

      fill: rgb(94, 223, 197);
    }
  }
}
