@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

.searchBoxWrapper {
  // height: 600px;
  background: white;
  // width: 500px;
  position: relative;
  display: grid;
  & .submitButton {
    // width: 65px;
    // height: 65px;
    // border-radius: 65px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: solid 3px white;
    background: transparent;
    float: right;
    right: 25px;
    bottom: 25px;
    margin: 0;
    transition: 250ms ease-in;

    cursor: pointer;
    & .submit {
      // top: 50%;
      font-family: "Josefin Sans";
      font-weight: bolder;
      // transform: translateY(-50%);
      color: black;
      font-style: italic;
      transition: 250ms ease-in;
    }
    & .arrowWrapper {
      // top: 50%;
      // transform: translateY(-50%);
      // right: 0;
      // float: right;
      height: fit-content;
      width: fit-content;
      & .arrow {
        fill: black;
        transition: 250ms ease-in;
        stroke-width: 2px;
        stroke: black;
        position: relative;
        width: auto;
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
  & .submitButton:hover {
    transition: 250ms ease-out;
    border: solid 3px rgb(94, 223, 197);

    background: transparent;
    & .submit {
      color: rgb(94, 223, 197);
      transition: 250ms ease-out;
    }
    & .arrow {
      transition: 250ms ease-out;
      fill: rgb(94, 223, 197);
      stroke-width: 2px;
      stroke: rgb(94, 223, 197);
    }
  }

  & .linkedButton:hover {
    transition: 250ms ease-out;
    border: solid 3px rgb(94, 223, 197);

    background: transparent;
    & .submit {
      color: rgb(94, 223, 197);
      transition: 250ms ease-out;
    }
    & a {
      & .arrowWrapper {
        & .arrow {
          transition: 250ms ease-out;
          fill: rgb(94, 223, 197);
          stroke-width: 2px;
          stroke: rgb(94, 223, 197);
        }
      }
    }
  }
}

.homePage {
  height: 480px;
  width: 400px;
  right: 15%;
  top: 50%;

  position: absolute;
  transition: 250ms ease-in;
  // overflow: hidden;
  box-shadow: 0px 20px 20px rgba(25, 25, 25, 0.5);
  z-index: 100;

  & form {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: aut auto auto auto auto auto;
    grid-template-areas: "header header header" "where where where" "when when ." "events events events" "places places places" ". submit submit";
  }

  & .linkedButton {
    grid-area: submit;
    width: 180px;
    height: 60px;
    margin-left: auto;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: auto;
    border: solid 3px white;
    background: transparent;
    justify-content: space-between;

    & a {
      position: relative;
      margin: auto;
      height: 100%;
      width: 100%;
      text-decoration: none;
      display: flex;
      flex-flow: row nowrap;
      & .submitTitleWrapper {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        font-family: "Josefin Sans";
        font-weight: bolder;
        // transform: translateY(-50%);
        color: black;
        font-style: italic;
        height: fit-content;
        width: fit-content;
        & .submit {
          top: 50%;
          transform: translateY(-50%);
          position: relative;
          height: fit-content;
          width: fit-content;
          font-size: 24pt;
          margin-left: 10px;
        }
      }
      & .arrowWrapper {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 10px;
        margin-right: 10px;
        height: fit-content;
        width: fit-content;
        & .arrow {
          position: relative;
          top: 50%;

          transition: 250ms ease-in;
          position: relative;
          width: auto;
          height: 30px;
          fill: black;
          transition: 250ms ease-in;
          stroke-width: 2px;
          stroke: black;

          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }
  }

  & .submitButton {
    grid-area: submit;
    width: 180px;
    height: 60px;
    margin-left: auto;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: auto;
    display: flex;
    flex-flow: row nowrap;
    & .submitTitleWrapper {
      top: 50%;
      transform: translateY(-50%);
      position: relative;
      height: fit-content;
      width: fit-content;
      & .submit {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        height: fit-content;
        width: fit-content;
        font-size: 24pt;
        margin-left: 10px;
      }
    }
    & .arrowWrapper {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10px;
      margin-right: 10px;
      height: fit-content;
      width: fit-content;
      & .arrow {
        position: relative;
        top: 50%;

        transition: 250ms ease-in;
        position: relative;
        width: auto;
        height: 30px;
      }
    }
  }
}

.searchPage {
  grid-area: searchbox;
  position: relative;
  float: left;
  width: 92.5%;
  height: 300px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 2.5%;
  & form {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "header header header header"
      "where where when when"
      "events events when when"
      "places places places submit";
  }

  & .submitButton {
    grid-area: submit;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: 25px;
    margin-bottom: 25px;
    & .submitTitleWrapper {
      top: 50%;
      transform: translateY(-50%);
      position: relative;
      height: fit-content;
      width: fit-content;
      & .submit {
        font-size: 24pt;
        height: fit-content;
        margin-left: 10px;
      }
    }
    & .arrowWrapper {
      transform: translateY(-50%);
      top: 50%;
      margin-left: 0;
      margin-right: 10px;
      height: fit-content;
      position: relative;
      width: fit-content;
      & .arrow {
        transition: 250ms ease-in;
        position: relative;
        width: auto;
        height: 30px;
      }
    }
  }
}

.navBar {
  display: none;
}

$tablet-width: 1024px;

@media (max-width: $tablet-width) {
  .searchPage {
    display: none;
  }
  .navBar {
    display: block;
    background: white;
    position: absolute;
    z-index: 2;
    top: 100%;
    height: 500%;
    width: 100%;
    overflow: hidden;
    & form {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: 20% 20% 20% 20% 20%;
      grid-template-columns: 50% 50%;
      grid-template-areas: "header header" "where where" "when when" "events events" "places submit";
    }
  }
  .retracted {
    transition: 250ms ease-in-out;
    transform: translate(0, -100%);
  }
  .extended {
    transition: 250ms ease-in-out;

    transform: translate(0, 0%);
  }
}
