@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

.searchBoxWrapper {
  // height: 600px;
  background: white;
  // width: 500px;
  position: relative;
  display: grid;
  & .submitButton {
    // width: 65px;
    // height: 65px;
    // border-radius: 65px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: solid 3px white;
    background: transparent;
    float: right;
    right: 25px;
    bottom: 25px;
    margin: 0;
    transition: 250ms ease-in;

    cursor: pointer;
    & .submit {
      // top: 50%;
      font-family: "Josefin Sans";
      font-weight: bolder;
      // transform: translateY(-50%);
      color: black;
      font-style: italic;
      transition: 250ms ease-in;
    }
    & .arrowWrapper {
      // top: 50%;
      // transform: translateY(-50%);
      // right: 0;
      // float: right;
      height: fit-content;
      width: fit-content;
      & .arrow {
        fill: black;
        transition: 250ms ease-in;
        stroke-width: 2px;
        stroke: black;
        position: relative;
        width: auto;
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
  & .submitButton:hover {
    transition: 250ms ease-out;
    border: solid 3px rgb(94, 223, 197);

    background: transparent;
    & .submit {
      color: rgb(94, 223, 197);
      transition: 250ms ease-out;
    }
    & .arrow {
      transition: 250ms ease-out;
      fill: rgb(94, 223, 197);
      stroke-width: 2px;
      stroke: rgb(94, 223, 197);
    }
  }
}

.HomePage {
  height: 480px;
  width: 400px;
  grid-area: search;
  margin-left: auto;
  box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.5);
  margin-top: 0px;
  margin-right: auto;
  overflow: hidden;
  float: right;
  & form {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: aut auto auto auto auto auto;
    grid-template-areas: "header header header" "where where where" "when when ." "events events events" "places places places" ". submit submit";
  }
  & .submitButton {
    grid-area: submit;
    width: 80px;
    height: 20px;
    margin-left: auto;
    margin-right: 40px;
    margin-top: auto;
    margin-bottom: 40px;
    & .submit {
      margin-top: 10px;
      font-size: 24pt;
      margin-left: 10px;
    }
    & .arrowWrapper {
      margin-top: 7px;
      margin-left: 10px;
      margin-right: 10px;
      height: fit-content;
      width: fit-content;
      & .arrow {
        transition: 250ms ease-in;

        position: relative;
        width: auto;
        height: 30px;
      }
    }
  }
}

.SearchPage {
  grid-area: searchbox;
  position: relative;
  float: left;
  width: 1200px;
  height: 300px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  margin-top: 2.5%;
  margin-left: 2.5%;
  & form {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "header header header header"
      "where where when when"
      "events events when when"
      "places places places submit";
  }

  & .submitButton {
    grid-area: submit;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: 25px;
    margin-bottom: 25px;
    & .submit {
      margin-top: 10px;
      font-size: 24pt;
      margin-left: 10px;
    }
    & .arrowWrapper {
      margin-top: 7px;
      margin-left: 10px;
      margin-right: 10px;
      height: fit-content;
      width: fit-content;
      & .arrow {
        transition: 250ms ease-in;

        position: relative;
        width: auto;
        height: 30px;
      }
    }
  }
}
