.scheduleWrapper {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  grid-area: search;
  margin-left: auto;
  margin-right: auto;
  height: 75%;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);

  & .scheduleTextWrapper {
    margin-left: 10%;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  & .gridPicWrapper {
    height: fit-content;
    width: fit-content;
    filter: drop-shadow(10px 25px 10px rgba(25, 25, 25, 0.5));
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: -45%;
    & img {
      height: 350px;
      display: block;
      width: auto;
    }
  }

  & .piecePicWrapper {
    object-fit: contain;
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    transform: rotate(5deg) translateY(-100%);
    filter: drop-shadow(10px 25px 10px rgba(25, 25, 25, 0.5));
    z-index: 2;
    position: relative;
    transition: 250ms;
    top: 50%;
    margin-left: auto;
    margin-right: -20%;

    & img {
      width: 150px;
      height: auto;
    }
  }
}

.scheduleWrapper:hover {
  & .piecePicWrapper {
    transform: rotate(5deg) translateX(10px) translateY(-5px);
    transition: 250ms;
  }
}
