.scheduleWrapper {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  grid-area: schedule;
  // border: solid 1px black;
  & .schedulerPicWrapper {
    object-fit: contain;
    // height: fit-content;
    height: 240px;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 30%;
    box-shadow: 0px 20px 20px rgba(25, 25, 25, 0.5);
    padding: 0;
    z-index: 1;

    & img {
      height: auto;
      width: 400px;
      margin: 0;
    }
  }
  & .piecePicWrapper {
    object-fit: contain;
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    transform: rotate(5deg);
    filter: drop-shadow(10px 25px 10px rgba(25, 25, 25, 0.5));
    z-index: 2;
    position: relative;
    transition: 250ms;

    bottom: 150px;
    left: 150px;
    & img {
      width: 150px;
      height: auto;
    }
  }
}

.scheduleWrapper:hover {
  & .piecePicWrapper {
    transform: rotate(5deg) translateX(10px) translateY(-5px);
    transition: 250ms;
  }
}
