@font-face {
  font-family: "Butler-Bold";
  src: url("../../../../assets/Fonts/Butler-Bold.woff") format("woff"),
    url("../../../../assets/Fonts/Butler-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("../../../../assets/Fonts/Butler.woff") format("woff"),
    url("../../../../assets/Fonts/Butler.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Butler-Light";
  src: url("../../../../assets/Fonts/Butler-Light.woff") format("woff"),
    url("../../../../assets/Fonts/Butler-Light.woff") format("woff");
  font-weight: light;
  font-style: normal;
}
.scheduleWrapper {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  grid-area: search;
  margin-left: auto;
  margin-right: auto;
  height: 75%;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);

  & .scheduleTextWrapper {
    margin-left: -20%;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    width: 50%;

    & .scheduleHeaderWrapper {
      font-size: 72pt;
      font-family: "Butler-Bold";
      color: black;
    }
    & .scheduleDescriptionWrapper {
      font-size: 15pt;
      font-family: "Butler";
    }
  }

  & .gridPicWrapper {
    height: fit-content;
    width: fit-content;
    filter: drop-shadow(10px 25px 10px rgba(25, 25, 25, 0.5));
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: -35%;
    & img {
      height: 350px;
      display: block;
      width: auto;
    }
  }

  & .piecePicWrapper {
    object-fit: contain;
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    transform: rotate(5deg) translateY(-100%);
    filter: drop-shadow(10px 25px 10px rgba(25, 25, 25, 0.5));
    z-index: 2;
    position: relative;
    transition: 500ms ease-in-out;
    top: 50%;
    margin-left: auto;
    margin-right: -20%;

    & img {
      width: 150px;
      height: auto;
    }
  }
}

.scheduleWrapper:hover {
  & .piecePicWrapper {
    transform: rotate(5deg) translateX(10px) translateY(-5px);
    transition: 250ms;
  }
}
