@import url("https://fonts.googleapis.com/css?family=Montserrat");

.colorSelectorWrapper {
  position: relative;
  height: fit-content;
  width: fit-content;
  & .colorSelectorTitle {
    margin-left: 10px;
    margin-top: 10px;
    font-family: "Montserrat";
    font-size: 10pt;
  }

  & .colorSelectors {
    margin-left: 10px;
    margin-top: 10px;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
    & .colorSelector {
      cursor: pointer;
      margin-right: 10px;
      height: 20px;
      width: 20px;
      border-radius: 20px;
      & .colorSelector:nth-child(1) {
        background: rgb(0, 78, 100);
      }
      & .colorSelector:nth-child(2) {
        background: rgb(255, 166, 56);
      }
      & .colorSelector:nth-child(3) {
        background: rgb(37, 68, 65);
      }
      & .colorSelector:nth-child(4) {
        background: rgb(235, 58, 17);
      }
      & .colorSelector:nth-child(5) {
        background: rgb(81, 191, 147);
      }
      & .colorSelector:nth-child(6) {
        background: rgb(227, 143, 169);
      }
    }

    // & .createPart {
    //   width: fit-content;
    //   border: solid 1px black;
    //   font-size: 10pt;
    //   cursor: pointer;
    //   font-weight: bold;
    //   font-family: "Montserrat";
    // }
  }
}
