@import url("https://fonts.googleapis.com/css?family=Montserrat");
.colorSelectorWrapper {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 5%;
}

.colorSelectorWrapper .colorSelectorTitle {
  margin-left: 0;
  margin-top: 10px;
  font-family: "Montserrat";
  font-size: 10pt;
}

.colorSelectorWrapper .colorSelectors {
  margin-left: 0;
  margin-top: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-bottom: 10px;
}

.colorSelectorWrapper .colorSelectors .colorSelector {
  cursor: pointer;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
}

.colorSelectorWrapper .colorSelectors .colorSelector .colorSelector:nth-child(1) {
  background: #004e64;
}

.colorSelectorWrapper .colorSelectors .colorSelector .colorSelector:nth-child(2) {
  background: #ffa638;
}

.colorSelectorWrapper .colorSelectors .colorSelector .colorSelector:nth-child(3) {
  background: #254441;
}

.colorSelectorWrapper .colorSelectors .colorSelector .colorSelector:nth-child(4) {
  background: #eb3a11;
}

.colorSelectorWrapper .colorSelectors .colorSelector .colorSelector:nth-child(5) {
  background: #51bf93;
}

.colorSelectorWrapper .colorSelectors .colorSelector .colorSelector:nth-child(6) {
  background: #e38fa9;
}

.colorSelectorWrapper .colorSelectors .colorSelector .createPart {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px black;
  font-size: 12pt;
  cursor: pointer;
  font-weight: bold;
  font-family: "Montserrat";
  position: absolute;
  right: 5%;
  margin-left: 0;
  margin-right: auto;
  bottom: 20%;
  outline: none;
  background: transparent;
  border: solid 1px black;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.schedulePage .colorSelectors {
  margin-left: 0;
  margin-top: 5%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
  overflow: hidden;
}

.schedulePage .colorSelectors .colorSelector {
  cursor: pointer;
  margin-right: 10px;
  height: 25px;
  width: 25px;
  border-radius: 25px;
}

.schedulePage .colorSelectors .colorSelector .colorSelector:nth-child(1) {
  background: #004e64;
  overflow: hidden;
}

.schedulePage .colorSelectors .colorSelector .colorSelector:nth-child(2) {
  background: #ffa638;
  overflow: hidden;
}

.schedulePage .colorSelectors .colorSelector .colorSelector:nth-child(3) {
  background: #254441;
  overflow: hidden;
}

.schedulePage .colorSelectors .colorSelector .colorSelector:nth-child(4) {
  background: #eb3a11;
  overflow: hidden;
}

.schedulePage .colorSelectors .colorSelector .colorSelector:nth-child(5) {
  background: #51bf93;
  overflow: hidden;
}

.schedulePage .colorSelectors .colorSelector .colorSelector:nth-child(6) {
  background: #e38fa9;
  overflow: hidden;
}

.schedulePage .colorSelectors .colorSelector .createPart {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px black;
  font-size: 12pt;
  cursor: pointer;
  font-weight: bold;
  font-family: "Montserrat";
  position: absolute;
  right: 5%;
  margin-left: 0;
  margin-right: auto;
  bottom: 20%;
  outline: none;
  background: transparent;
  border: solid 1px black;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.createPart:hover {
  color: #5edfc5;
  border: solid 1px #5edfc5;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.searchPage {
  margin-left: 5%;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.searchPage .colorSelectors {
  position: relative;
  width: 100%;
  margin-left: 2.5%;
}

.searchPage .colorSelectors .colorSelector {
  position: relative;
  margin-right: 3%;
}

@media (max-width: 1024px) {
  .colorSelectorWrapper {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: atuo;
  }
  .colorSelectorWrapper .colorSelectorTitle {
    margin-left: 2.5%;
    margin-top: 10px;
    font-family: "Montserrat";
    font-size: 12pt;
  }
  .colorSelectorWrapper .colorSelectors {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .colorSelectorWrapper .colorSelectors .colorSelector {
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    height: 25px;
    width: 25px;
    border-radius: 25px;
  }
  .colorSelectorWrapper .colorSelectors .createPart {
    width: 25%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: solid 1px black;
    font-size: 12pt;
    cursor: pointer;
    font-weight: bold;
    font-family: "Montserrat";
    position: absolute;
    right: 5%;
    margin-left: 0;
    margin-right: auto;
    bottom: -60%;
    outline: none;
    background: transparent;
    -webkit-transition: 250ms ease-in-out;
    transition: 250ms ease-in-out;
  }
}
/*# sourceMappingURL=ColorSelector.css.map */