.schedulerPage {
  width: 100%;
  // height: 50%;
  grid-area: account;
  height: 100%;
  top: 50%;
  transform: translate(0, -50%);
  border: solid 1px black;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  & .imageWrapper {
    margin-left: 5%;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    height: 75px;
    width: 75px;
    border-radius: 75px;
    border: solid 1px black;
  }
}

.mobileSelector {
  order: 2;
}
