.floatingPartWrapper {
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  position: relative;
  object-fit: contain;
  transform-style: preserve-3d;
  margin-left: auto;
  margin-top: -10px;
  margin-right: -40px;
  transition: 250ms ease-in;
  transform: rotateX(30deg) rotateY(25deg) translateY(0px);
  filter: drop-shadow(20px 50px 10px rgba(50, 50, 50, 0.5));
  & img {
    height: 300px;
    width: auto;
  }
}
