.floatingPartWrapper {
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  position: relative;
  object-fit: contain;
  transform-style: preserve-3d;
  transition: 250ms;
  z-index: 6;

  & img {
    height: 250px;
    width: auto;
  }
}
