.aboutWrapper {
  width: 100vw;
  height: 90vh;
  top: 0;
  position: relative;
  margin: 0;
  left: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  & .headerWrapper {
    position: relative;
    width: fit-content;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
    font-family: "Butler-Bold";
    & header {
      position: relative;
      height: fit-content;
      width: fit-content;
      font-size: 200%;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  & .descriptionWrapper {
    height: 100%;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat";
    & p {
      text-indent: 5%;
    }
  }
}
