@import url("https://fonts.googleapis.com/css?family=Montserrat");

$tablet-width: 1024px;

.newInputWrapper {
  position: relative;
  margin-left: 5%;
  margin-top: 2.5%;
  & input {
    border: none;
    border-bottom: solid 1px black;
    background: transparent;
    outline: none;
    font-family: "Montserrat";
    font-size: 10pt;
    width: 200px;
  }
}

@media (max-width: $tablet-width) {
  .navLinks {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: fit-content;
    & input {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      word-wrap: none;
      font-size: 12pt;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
