@import url("https://fonts.googleapis.com/css?family=Montserrat");

.newInputWrapper {
  position: relative;
  margin-left: 5%;
  margin-top: 2.5%;
  & input {
    border: none;
    border-bottom: solid 1px black;
    background: transparent;
    outline: none;
    font-family: "Montserrat";
    font-size: 10pt;
    width: 200px;
  }
}
