.scrollPositionWrapper {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  border: solid 1px black;
  width: 5%;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  height: 75%;
  & .line {
    border-left: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 25%;
  }
  & .dotsWrapper {
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    & .dot {
      height: 10%;
      width: 10%;
      border-radius: 10%;
      border: solid 1px black;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
  }
}
