.scrollPositionWrapper {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  width: 5%;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  height: 75%;
  justify-content: space-between;
  z-index: 100;
  & .line {
    border-left: 1px solid rgb(150, 150, 150);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 25%;
  }
  & .dotsWrapper {
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
    cursor: pointer;
    position: relative;
    & .dot {
      height: 15px;
      width: 15px;
      border-radius: 15px;
      transition: 250ms ease-in-out;
      border: solid 1px rgb(150, 150, 150);
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
  }
}

.dot:nth-child(2) {
  margin-top: 100%;
  margin-bottom: 100%;
}
