@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

.infoWrapper {
  display: none;
}

@media (max-width: 1024px) {
  .infoWrapper {
    position: relative;
    margin: auto;
    display: block;
    width: 100px;
    position: relative;
    margin: auto;
    text-overflow: ellipsis;

    overflow: hidden;
    & .infoName {
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 10pt;
      font-family: "Josefin Sans";
    }
  }
}
