@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

.homeWrapper {
  width: 100%;
  height: 1030px;
  top: 0;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "home searchbox" "home .";
  margin: 0;
  left: 0;

  & .homeIntro {
    grid-area: home;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    & .sloganWrapper {
      width: fit-content;
      height: fit-content;
      & h1 {
        font-family: "Josefin Sans";
        font-style: oblique;
        width: fit-content;
        height: fit-content;
        font-size: 36pt;
        font-weight: 900;
        color: black;
      }
    }
    & .emblemWrapper {
      height: fit-content;
      width: fit-content;
      padding: 0;
    }
  }
}

// rgb(135, 216, 183)
// rgb(37, 68, 65) japanese green
// rgb(0, 78, 100) dark imperial blue

//red
// rgb(235, 58, 17) vermilion
//rgb(214, 53, 16) darker vermilion

//green
//  rgb(125, 186, 132)

//orange
//rgb(255, 166, 56)
