@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

.homeWrapper {
  width: 100%;
  height: 1030px;
  top: 0;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  background: rgb(118, 200, 152);
  grid-template-rows: auto auto;
  grid-template-areas: "slogan slogan slogan" "search select schedule";
  margin: 0;
  left: 0;

  & .homeIntro {
    background-color: white;
    grid-area: slogan;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    margin-bottom: 0;
    & .sloganWrapper {
      width: fit-content;
      height: fit-content;
      & h1 {
        font-family: "Josefin Sans";
        font-style: oblique;
        width: fit-content;
        height: fit-content;
        font-size: 36pt;
        font-weight: 900;
        color: black;
      }
    }
  }
  & .floatingBackground {
    margin-top: 0;
    width: 80%;
    height: 600px;
    margin-right: auto;
    border: solid 1px black;
    margin-left: auto;
    grid-area: select;
    & .floatingPartWrapper {
      height: fit-content;
      width: fit-content;
      overflow: hidden;
      position: relative;
      object-fit: contain;
      transform-style: preserve-3d;
      margin-left: auto;
      margin-right: 0px;
      transform: rotateX(30deg) rotateY(25deg) translateY(0px);
      filter: drop-shadow(20px 50px 10px rgba(50, 50, 50, 0.5));
      & img {
        height: 300px;
        width: auto;
      }
    }
  }
}
