.devicesWrapper {
  grid-area: devices;
  height: fit-content;
  width: fit-content;
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  transition: 250ms ease-in;
  margin-top: 10%;
  & .laptopWrapper {
    height: fit-content;
    width: fit-content;
    & img {
      height: 400px;
      width: auto;
    }
  }
  & .phoneWrapper {
    height: fit-content;
    width: fit-content;
    margin-top: auto;
    margin-bottom: 0;
    & img {
      height: 300px;
      width: auto;
    }
  }
}
