@import url("https://fonts.googleapis.com/css?family=Montserrat");

.endTimeWrapper {
  margin-left: 0;
  width: 200px;
  cursor: default;
  & .endTimeSelector {
    margin-left: 5px;
    width: fit-content;

    height: 100%;
    & select {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 9pt;
      font-family: "Montserrat";
      outline: none;
      font-weight: bold;
      border: none;
      border-bottom: 1px solid black;
      & option {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 1024px) {
  .endTimeWrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100px;
    & .endTimeSelector {
      margin-left: 2.5px;
      & select {
      }
    }
  }
}
