.schedulerListWrapper {
  height: 600px;
  background: white;
  width: 500px;
  grid-area: pieces;
  box-shadow: 4px 4px 10px black;
  overflow: hidden;
  margin-left: 2.5%;
  margin-top: 2.5%;

  & .newPieceWrapper {
    position: relative;
    top: 20px;
    left: 20px;
    width: fit-content;
    height: fit-content;

    & input {
      background: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid black;
    }
  }
}
