.schedulerListWrapper {
  height: 600px;
  background: white;
  width: 500px;
  position: relative;
  float: left;
  top: 50px;
  left: 100px;
  border-radius: 40px;
  box-shadow: 4px 4px 10px black;
  overflow: hidden;
}

.newPieceWrapper {
  position: relative;
  top: 20px;
  left: 20px;
  width: fit-content;
  height: fit-content;

  & input {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
  }
}
