$tablet-width: 1024px;

.socialMediaWrapper {
  display: flex;
  flex-flow: column nowrap;
  width: fit-content;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  height: fit-content;
  right: 5%;
  z-index: 100;
  & .linkWrapper {
    margin-top: 20%;
    margin-bottom: 20%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: fit-content;
    transition: 250ms ease-in-out;
    & svg {
      position: relative;
      margin: 0;
      fill: rgb(150, 150, 150);
      height: 20px;
      width: auto;
    }
  }
}

.linkWrapper:hover {
  transform: translateY(-10%);
  & svg {
    fill: rgb(118, 200, 152);
  }
}

.navLinks {
  display: none;
}

@media (max-width: $tablet-width) {
  .homePage {
    display: none;
  }
  .navLinks {
    display: flex;
    top: 0;
    transform: 0;
    right: 0;
    flex-flow: column nowrap;
    margin: auto;
    position: relative;
    width: fit-content;
    & .linkWrapper {
      & svg {
        fill: black;
      }
    }
  }
}
