@import url("https://fonts.googleapis.com/css?family=Cormorant");

@font-face {
  font-family: "Butler-Bold";
  src: url("../../../../assets/Fonts/Butler-Bold.woff") format("woff"),
    url("../../../../assets/Fonts/Butler-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("../../../../assets/Fonts/Butler.woff") format("woff"),
    url("../../../../assets/Fonts/Butler.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Butler-Light";
  src: url("../../../../assets/Fonts/Butler-Light.woff") format("woff"),
    url("../../../../assets/Fonts/Butler-Light.woff") format("woff");
  font-weight: light;
  font-style: normal;
}
.selectWrapper {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  grid-area: search;
  margin-left: auto;
  margin-right: auto;
  height: 75%;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);

  & .selectTextWrapper {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin-left: auto;
    margin-right: auto;
    transition: 250ms ease-in-out;
    transform: translateY(-50%);
    justify-content: center;
    top: 50%;
    & .headerText {
      font-size: 72pt;
      margin-left: auto;
      font-family: "Butler-Bold";
      font-weight: normal;
      margin-right: auto;
      text-align: center;
      color: black;
      width: 100%;
      margin-left: auto;
    }
    & .descriptionText {
      font-size: 10pt;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-family: "Butler";
      font-size: 15pt;
      width: 100%;
      margin-left: auto;
    }
  }
}
