.selectWrapper {
  width: 100%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  border: solid 1px black;
  & .animationWrapper {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 50%;
    height: 75%;
    width: 75%;
    transform: translateY(-50%);
    & .floatingWrapper {
      background: rgb(118, 200, 152);
      width: 33%;
      height: 100%;
      position: relative;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
    }
    & .floatingWrapper:first-child {
      margin-left: 0;
      margin-right: -5%;
    }
    & .floatingWrapper:last-child {
      margin-right: 0;
      margin-left: -5%;
    }
    & .selectTextWrapper {
      width: 50%;
      height: fit-content;
      position: relative;
      top: 50%;
      z-index: 2;
      font-size: 72pt;
      margin-left: -5%;
      margin-right: -5%;
      transform: translateY(-50%);
    }
  }
}
