.footerWrapper {
  bottom: 0;
  width: fit-content;
  height: fit-content;
  border-top: solid black 1px;
  & .footer {
    background: white;
    width: 100%;
    height: 100px;
  }
  & .createdByWrapper {
    position: absolute;

    float: right;
    right: 5%;
  }
}
