.searchResultCardImageWrapper {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  transition: 250ms;
  width: 100%;
  height: 100px;
  overflow: hidden;
  object-fit: contain;
  cursor: pointer;
  & img {
    top: 50%;
    transform: translate(0, -50%);
    height: auto;
    position: relative;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .searchResultCardImageWrapper {
    height: 85px;
    & img {
      width: 100%;
      height: auto;
    }
  }
}
