.searchResultCardImageWrapper {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  transition: 250ms;
  width: 100%;
  overflow: hidden;
  object-fit: contain;
  cursor: pointer;
  transition: 250ms ease-in-out;
  & img {
    top: 50%;
    transform: translate(0, -50%);
    height: auto;
    position: relative;
    width: 100%;
  }
}

.retracted {
  height: 100px;
}

.extended {
  height: 250px;
}

@media (max-width: 1024px) {
  .retracted {
    height: 85px;
  }
  .extended {
    height: 212.5px;
  }
}
