.placesSearchWrapper {
  top: 100px;
  height: fit-content;
  width: fit-content;
  left: 50px;
  position: relative;
  & .placesSearchTextWrapper {
    position: relative;
    top: 0;
    & p {
      margin-block-start: 0;
      font-family: myriad-pro, sans-serif;
      font-size: large;
      font-weight: bold;
    }
  }
  & .placesWhat {
    background: transparent;
    font-family: myriad-pro, sans-serif;
    font-size: 12pt;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 300px;
  }
}
