@import url("https://fonts.googleapis.com/css?family=Montserrat");

.placesSearchWrapper {
  // top: 100px;
  height: fit-content;
  width: fit-content;
  // left: 50px;
  // position: relative;
  & .placesSearchTextWrapper {
    position: relative;
    top: 0;
    & p {
      margin-block-start: 0;
      font-family: "Montserrat";
      font-size: large;
      font-weight: bold;
    }
  }
  & .placesWhat {
    background: transparent;
    font-family: "Montserrat";
    font-size: 12pt;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 300px;
  }
}

.HomePage {
}

.SearchPage {
  height: fit-content;
  width: fit-content;
  grid-area: places;
  margin-left: 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: solid 1px black;
  & span {
    font-family: "Montserrat";
    font-size: large;
    font-weight: bold;
  }
  & .placesWhat {
    margin-left: 10px;
  }
}
