@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

.datePartsWrapper {
  transition: 300ms ease-out;
  & .partsHeader {
    & .partsTitle {
      font-family: "Josefin Sans";
      font-weight: bold;
      height: fit-content;
      width: fit-content;
      position: relative;
      margin-top: 10px;
      margin-left: 10px;
    }
  }
  & .piecesWrapper {
    background: white;
  }
}

.piecesWrapper::-webkit-scrollbar {
  display: none;
}

.schedulerPage {
  // grid-area: dateparts;
  z-index: 2;

  top: 50%;
  transform: translateY(-50%);
  margin-left: 5%;
  margin-right: auto;
  box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.5);
  height: 600px;
  width: 20%;
  position: relative;

  // & .invisibleWrapper {
  //   top: 25%;
  //   position: absolute;
  //   height: 75%;
  //   width: 100%;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
  & .piecesWrapper {
    top: 25%;
    position: absolute;
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-between;
    // overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    & .piecesWrapper::-webkit-scrollbar {
      display: none;
    }
  }

  & .partsHeader {
    position: absolute;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);

    height: 25%;
    width: 100%;
    background: white;
    top: 0;
    left: 0;
    z-index: 2;
    & .createPart {
      width: fit-content;
      border: solid 1px black;
      font-size: 12pt;
      cursor: pointer;
      font-weight: bold;
      font-family: "Montserrat";
      position: absolute;
      right: 15px;
      margin-left: 10px;
      margin-right: auto;
      top: 93px;
      outline: none;
      background: transparent;
      border: solid 1px black;
    }
  }
}

.searchPage {
  overflow-x: hidden;
  overflow-y: hidden;
  grid-area: dateparts;
  float: right;
  right: 1%;
  top: 133px;
  position: fixed;
  box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.5);
  height: 400px;
  width: 250px;
  & .partsHeader {
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  }
  & .piecesWrapper {
    top: 125px;
    position: absolute;
    height: 275px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    & .piecesWrapper::-webkit-scrollbar {
      display: none;
    }
  }

  & .partsHeader {
    position: absolute;
    height: 125px;
    width: 100%;
    background: white;
    top: 0;
    left: 0;
    margin-bottom: 0;
    z-index: 2;
    overflow: hidden;
    & .createPart {
      width: fit-content;
      border: solid 1px black;
      font-size: 10pt;
      cursor: pointer;
      font-weight: bold;
      font-family: "Montserrat";
      position: absolute;
      right: 15px;
      margin-left: 10px;
      margin-right: auto;
      top: 92px;
      outline: none;
      background: transparent;
      border: solid 1px black;
    }
  }
}

.createPart:hover {
  color: rgb(94, 223, 197);
  border: solid 1px rgb(94, 223, 197);
}

.datePartsWrapper::-webkit-scrollbar {
  display: none;
}

// .slide-transition-enter {
//   opacity: 1;
//   // max-height: 50px;
//   transform: translateX(-300px);
//   transition: all 400ms ease-in-out;

//   &.slide-transition-enter-active {
//     // animation-name: slideOut;
//     // animation-duration: 400ms;
//     transition: all 400ms cubic-bezier(0.5, 0.01, 0.84, 0.67);
//     opacity: 0;
//     transform: translateX(0);
//     // max-height: 0px;
//   }
// }

// .slide-transition-exit {
//   opacity: 1;
//   max-height: 50px;
//   transform: translate(0);
//   transition: all 400ms ease-in-out;

//   &.slide-transition-exit-active {
//     animation-name: slideOut;
//     animation-duration: 400ms;
//     transition: all 350ms cubic-bezier(0.5, 0.01, 0.84, 0.67);
//     opacity: 0;
//     max-height: 0px;
//   }
// }

.slideTransition-enter {
  opacity: 1;
  // max-height: 50px;
  transform: translateX(-300px);
  transition: all 400ms ease-in-out;

  &.slideTransition-enter-active {
    // animation-name: slideOut;
    // animation-duration: 400ms;
    transition: all 400ms cubic-bezier(0.5, 0.01, 0.84, 0.67);
    opacity: 0;
    transform: translateX(0);
    // max-height: 0px;
  }
}

.slideTransition-exit {
  opacity: 1;
  max-height: 50px;
  transform: translate(0);
  transition: all 400ms ease-in-out;

  &.slideTransition-exit-active {
    animation-name: slideOut;
    animation-duration: 400ms;
    transition: all 350ms cubic-bezier(0.5, 0.01, 0.84, 0.67);
    opacity: 0;
    max-height: 0px;
  }
}
