.searchSelectWrapper {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
  & div {
    transition: 250ms ease-in;
    display: inline-block;
    border: 1.5px solid gray;
    overflow: hidden;
    & .searchSelectTextWrapper {
      top: 15px;
      width: fit-content;
      height: fit-content;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      border: none;
      display: block;
      & p {
        transition: 250ms ease-in;

        margin-block-start: 0;
        margin-block-end: 0;
        font-family: "Josefin Sans";
      }
    }
    & .searchSelectTextWrapperAll {
      top: 30px;
      width: fit-content;
      height: fit-content;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      border: none;
      display: block;
      & p {
        transition: 250ms ease-in;

        margin-block-start: 0;
        margin-block-end: 0;
        font-family: "Josefin Sans";
      }
    }
    & .searchSelectImagesWrapperAll {
      border: none;
      display: block;
      position: relative;
      top: 20px;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      margin-bottom: 0;
      margin-top: 0;
      height: fit-content;
      width: fit-content;
      & .searchSelectImageWrapperAll {
        border: none;
        & svg {
          transition: 250ms ease-in;
          height: 40px;
          width: auto;
        }
      }
      & .searchSelectImageWrapperAll:nth-child(1) {
        margin-right: 5px;
      }
      & .searchSelectImageWrapperAll:nth-child(2) {
        margin-left: 5px;
      }
    }

    & .searchSelectImageWrapper {
      padding: 0;
      margin-left: auto;
      margin-right: auto;
      top: 10px;
      position: relative;
      border: none;
      display: block;
      height: fit-content;
      width: fit-content;
      & svg {
        transition: 250ms ease-in;

        height: 60px;
        width: auto;
      }
    }
  }
  & .searchSelect {
    transition: 250ms ease-in;
    cursor: pointer;
    height: 100px;
    width: 100px;
    border-radius: 20px;
  }

  & .searchSelect:nth-child(2) {
    cursor: pointer;
    transition: 250ms ease-in;
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;
    width: 100px;
    border-radius: 20px;
  }

  & .searchSelect {
    cursor: pointer;
    transition: 250ms ease-in;

    height: 100px;
    width: 100px;
    border-radius: 20px;
  }
  .searchSelect:hover {
    transition: 250ms ease-out;

    border: solid 1.5px rgb(94, 223, 197);
    & svg {
      transition: 250ms ease-out;

      fill: rgb(94, 223, 197);
    }
    & p {
      transition: 250ms ease-out;

      color: rgb(94, 223, 197);
    }
  }
  .selected {
    transition: 250ms ease-out;

    border: solid 1.5px rgb(94, 223, 197);
    & svg {
      transition: 250ms ease-out;

      fill: rgb(94, 223, 197);
    }
    & p {
      transition: 250ms ease-out;

      color: rgb(94, 223, 197);
    }
  }
}
