.searchSelectWrapper .searchSelect {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  cursor: pointer;
}

.searchSelectWrapper .searchSelect:nth-child(2) {
  cursor: pointer;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

.searchSelectWrapper .searchSelect {
  cursor: pointer;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

.searchSelectWrapper .searchSelect:hover {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  border: solid 1.5px #5edfc5;
}

.searchSelectWrapper .searchSelect:hover svg {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  fill: #5edfc5;
}

.searchSelectWrapper .searchSelect:hover p {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  color: #5edfc5;
}

.searchSelectWrapper .selected {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  border: solid 1.5px #5edfc5;
}

.searchSelectWrapper .selected svg {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  fill: #5edfc5;
}

.searchSelectWrapper .selected p {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  color: #5edfc5;
}

.homePage {
  grid-area: header;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.homePage .searchSelect {
  height: 80px;
  width: 80px;
  border: 1px solid gray;
}

.homePage .searchSelect .searchSelectTextWrapper {
  top: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: none;
  display: block;
}

.homePage .searchSelect .searchSelectTextWrapper p {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  font-size: 12pt;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-family: "Josefin Sans";
}

.homePage .searchSelect .searchSelectTextWrapperAll {
  margin-top: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: none;
  display: block;
}

.homePage .searchSelect .searchSelectTextWrapperAll p {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  font-size: 12pt;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-family: "Josefin Sans";
}

.homePage .searchSelect .searchSelectImagesWrapperAll {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  position: relative;
  top: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.homePage .searchSelect .searchSelectImagesWrapperAll .searchSelectImageWrapperAll svg {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  height: 30px;
  width: auto;
}

.homePage .searchSelect .searchSelectImageWrapper {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  position: relative;
  border: none;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.homePage .searchSelect .searchSelectImageWrapper svg {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  height: 40px;
  width: auto;
}

.homePage .searchSelect:nth-child(2) {
  margin-left: 16px;
  margin-right: 16px;
}

.homePage .selected {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  border: solid 1px #5edfc5;
}

.homePage .selected svg {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  fill: #5edfc5;
}

.homePage .selected p {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  color: #5edfc5;
}

.homePage .searchSelect:hover {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  border: solid 1px #5edfc5;
}

.homePage .searchSelect:hover svg {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  fill: #5edfc5;
}

.homePage .searchSelect:hover p {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  color: #5edfc5;
}

.searchPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  grid-area: header;
  margin-bottom: 0;
}

.searchPage .searchSelect {
  width: 30%;
}

.searchPage div {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  display: inline-block;
  border: 1.5px solid gray;
  overflow: hidden;
}

.searchPage div .searchSelectTextWrapper {
  top: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: none;
  display: block;
}

.searchPage div .searchSelectTextWrapper p {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-family: "Josefin Sans";
}

.searchPage div .searchSelectTextWrapperAll {
  top: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: none;
  display: block;
}

.searchPage div .searchSelectTextWrapperAll p {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-family: "Josefin Sans";
}

.searchPage div .searchSelectImagesWrapperAll {
  border: none;
  display: block;
  position: relative;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.searchPage div .searchSelectImagesWrapperAll .searchSelectImageWrapperAll {
  border: none;
}

.searchPage div .searchSelectImagesWrapperAll .searchSelectImageWrapperAll svg {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  height: 40px;
  width: auto;
}

.searchPage div .searchSelectImagesWrapperAll .searchSelectImageWrapperAll:nth-child(1) {
  margin-right: 5px;
}

.searchPage div .searchSelectImagesWrapperAll .searchSelectImageWrapperAll:nth-child(2) {
  margin-left: 5px;
}

.searchPage div .searchSelectImageWrapper {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  position: relative;
  border: none;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.searchPage div .searchSelectImageWrapper svg {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  height: 60px;
  width: auto;
}

.searchPage .searchSelect {
  height: 100px;
  width: 30%;
}

.searchPage .searchSelect:nth-child(2) {
  margin-left: 5%;
  margin-right: 5%;
  height: 100px;
}

@media (max-width: 1024px) {
  .navBar {
    grid-area: header;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: 100%;
  }
  .navBar .searchSelect {
    height: 75px;
    width: 75px;
    border: solid 1px black;
  }
  .navBar .searchSelect:nth-child(2) {
    height: 75px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
  }
  .navBar .searchSelect:nth-child(1) {
    height: 75px;
    width: 75px;
    margin-left: 15%;
    margin-right: auto;
  }
  .navBar .searchSelect:nth-child(3) {
    height: 75px;
    width: 75px;
    margin-right: 15%;
    margin-left: auto;
  }
}
/*# sourceMappingURL=SearchSelector.css.map */