.searchSelectWrapper .searchSelect {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  cursor: pointer;
}

.searchSelectWrapper .searchSelect:nth-child(2) {
  cursor: pointer;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

.searchSelectWrapper .searchSelect {
  cursor: pointer;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

.searchSelectWrapper .searchSelect:hover {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  border: solid 1.5px #5edfc5;
}

.searchSelectWrapper .searchSelect:hover svg {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  fill: #5edfc5;
}

.searchSelectWrapper .searchSelect:hover p {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  color: #5edfc5;
}

.searchSelectWrapper .selected {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  border: solid 1.5px #5edfc5;
}

.searchSelectWrapper .selected svg {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  fill: #5edfc5;
}

.searchSelectWrapper .selected p {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  color: #5edfc5;
}

.HomePage {
  grid-area: header;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.HomePage .searchSelect {
  height: 80px;
  width: 80px;
  border: 1px solid gray;
}

.HomePage .searchSelect .searchSelectTextWrapper {
  top: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: none;
  display: block;
}

.HomePage .searchSelect .searchSelectTextWrapper p {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  font-size: 12pt;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-family: "Josefin Sans";
}

.HomePage .searchSelect .searchSelectTextWrapperAll {
  margin-top: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: none;
  display: block;
}

.HomePage .searchSelect .searchSelectTextWrapperAll p {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  font-size: 12pt;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-family: "Josefin Sans";
}

.HomePage .searchSelect .searchSelectImagesWrapperAll {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  position: relative;
  top: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.HomePage .searchSelect .searchSelectImagesWrapperAll .searchSelectImageWrapperAll svg {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  height: 30px;
  width: auto;
}

.HomePage .searchSelect .searchSelectImageWrapper {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  position: relative;
  border: none;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.HomePage .searchSelect .searchSelectImageWrapper svg {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  height: 40px;
  width: auto;
}

.HomePage .searchSelect:nth-child(2) {
  margin-left: 16px;
  margin-right: 16px;
}

.HomePage .selected {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  border: solid 1px #5edfc5;
}

.HomePage .selected svg {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  fill: #5edfc5;
}

.HomePage .selected p {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  color: #5edfc5;
}

.HomePage .searchSelect:hover {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  border: solid 1px #5edfc5;
}

.HomePage .searchSelect:hover svg {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  fill: #5edfc5;
}

.HomePage .searchSelect:hover p {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  color: #5edfc5;
}

.SearchPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  margin-top: 25px;
  grid-area: header;
  margin-bottom: 0;
}

.SearchPage div {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  display: inline-block;
  border: 1.5px solid gray;
  overflow: hidden;
}

.SearchPage div .searchSelectTextWrapper {
  top: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: none;
  display: block;
}

.SearchPage div .searchSelectTextWrapper p {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-family: "Josefin Sans";
}

.SearchPage div .searchSelectTextWrapperAll {
  top: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: none;
  display: block;
}

.SearchPage div .searchSelectTextWrapperAll p {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-family: "Josefin Sans";
}

.SearchPage div .searchSelectImagesWrapperAll {
  border: none;
  display: block;
  position: relative;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.SearchPage div .searchSelectImagesWrapperAll .searchSelectImageWrapperAll {
  border: none;
}

.SearchPage div .searchSelectImagesWrapperAll .searchSelectImageWrapperAll svg {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  height: 40px;
  width: auto;
}

.SearchPage div .searchSelectImagesWrapperAll .searchSelectImageWrapperAll:nth-child(1) {
  margin-right: 5px;
}

.SearchPage div .searchSelectImagesWrapperAll .searchSelectImageWrapperAll:nth-child(2) {
  margin-left: 5px;
}

.SearchPage div .searchSelectImageWrapper {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  position: relative;
  border: none;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.SearchPage div .searchSelectImageWrapper svg {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  height: 60px;
  width: auto;
}

.SearchPage .searchSelect {
  height: 100px;
  width: 350px;
}

.SearchPage .searchSelect:nth-child(2) {
  margin-left: 50px;
  margin-right: 50px;
  height: 100px;
  width: 350px;
}
/*# sourceMappingURL=SearchSelector.css.map */