.slideEnter {
  transform: translate(1536px, 0);
  transition: all 1000ms ease-in-out;
  &.slideEnterActive {
    transform: translate(0);
  }
}

.slideExit {
  transition: all 1000ms ease-in-out;

  &.slideExitActive {
    transform: translate(-1536px, 0);
  }
}
