.slide-enter {
  transform: translate(-1536px, 0);
  transition: all 1000ms ease-in-out;
  &.slide-enter-active {
    transform: translate(0);
  }
}

.slide-exit {
  transition: all 1000ms ease-in-out;
  transform: translate(0);

  &.slide-exit-active {
    transform: translate(-1536px, 0);
  }
}
