.slideEnter {
  transform: translate(99%, 0);
  transition: all 1000ms ease-in-out;
  &.slideEnterActive {
    transform: translate(0);
  }
}

.App {
  overflow: hidden;
  & .createdBy {
    position: absolute;
    right: 5%;
    bottom: 5%;
  }
}

.slideExit {
  transition: all 1000ms ease-in-out;

  &.slideExitActive {
    transform: translate(-101%, 0);
  }
}

@media (max-width: 1024px) {
  .App {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}
