.searchWrapper {
  display: flex;
  flex-flow: column nowrap;
  grid-area: search;
  height: 150vh;
  width: 100%;
  border: solid 1px black;
  & .searchAnimationWrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: 75%;
    display: flex;
    flex-flow: row nowrap;
    background: rgb(118, 200, 152);
    & .searchTextWrapper {
      height: fit-content;
      width: 100%;
      position: relative;
      margin-right: auto;
      top: 50%;
      transform: translateY(-50%);
      margin-left: -25%;
      & .searchHeaderWrapper {
        font-size: 72pt;
      }
      & .searchDescriptionWrapper {
        font-size: 10pt;
        width: 50%;
      }
    }
    & .searchBoxDecor {
      margin-right: 20%;
      margin-left: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 40%;
      height: 80%;
    }
  }
}
