@font-face {
  font-family: "Butler-Bold";
  src: url("../../../../assets/Fonts/Butler-Bold.woff") format("woff"),
    url("../../../../assets/Fonts/Butler-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("../../../../assets/Fonts/Butler.woff") format("woff"),
    url("../../../../assets/Fonts/Butler.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Butler-Light";
  src: url("../../../../assets/Fonts/Butler-Light.woff") format("woff"),
    url("../../../../assets/Fonts/Butler-Light.woff") format("woff");
  font-weight: light;
  font-style: normal;
}

.getStartedWrapper {
  margin: auto;
  position: relative;
  width: fit-content;
  height: fit-content;
  animation-name: fadeInOut;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: 250ms ease-in-out;
  animation-direction: alternate;
  cursor: pointer;
  & .textWrapper {
    font-family: "Butler-Bold";
    margin: auto;
    height: fit-content;
    position: relative;
    width: fit-content;
    height: fit-content;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 12pt;
    color: rgb(150, 150, 150);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
