@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: "Butler-Bold";
  src: url("../../../../assets/Fonts/Butler-Bold.woff") format("woff"),
    url("../../../../assets/Fonts/Butler-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("../../../../assets/Fonts/Butler.woff") format("woff"),
    url("../../../../assets/Fonts/Butler.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Butler-Light";
  src: url("../../../../assets/Fonts/Butler-Light.woff") format("woff"),
    url("../../../../assets/Fonts/Butler-Light.woff") format("woff");
  font-weight: light;
  font-style: normal;
}
.worksWrapper {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 2.5%;
  margin: auto;
  height: 90%;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 100;
  display: flex;
  flex-flow: column nowrap;
  & .scrollLine {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    & .scrollWhite {
      border-left: solid 1px white;
      position: relative;
      margin-left: auto;
      animation-name: scrollWhite;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-direction: forward;
      // animation-delay: 1s;
      margin-right: auto;
      height: 100%;
    }
    & .scrollBackground {
      border-left: solid 1px rgb(118, 200, 152);
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      height: 100%;
      animation-name: scrollBackground;
      animation-direction: normal;
      // animation-delay: 1.5s;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      z-index: 2;
    }
  }
  & .arrowWrapper {
    position: relative;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-top: 5%;
    margin-right: auto;
    margin-bottom: -20%;
    animation-name: fadeInOut;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-delay: -1s;
    animation-iteration-count: infinite;
    & svg {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      fill: white;
      width: 25px;
    }
  }
  & .textWrapper {
    position: relative;
    font-family: "Butler-Bold";
    font-size: 10pt;
    color: white;
    margin-right: auto;
    margin-left: auto;
    height: fit-content;
    width: fit-content;
    margin-bottom: 10%;
  }
}

@keyframes scrollWhite {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes scrollBackground {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
