@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: "Butler-Bold";
  src: url("../../../../assets/Fonts/Butler-Bold.woff") format("woff"), url("../../../../assets/Fonts/Butler-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("../../../../assets/Fonts/Butler.woff") format("woff"), url("../../../../assets/Fonts/Butler.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Butler-Light";
  src: url("../../../../assets/Fonts/Butler-Light.woff") format("woff"), url("../../../../assets/Fonts/Butler-Light.woff") format("woff");
  font-weight: light;
  font-style: normal;
}

.worksWrapper {
  width: 2.5%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  left: 2.5%;
  margin: auto;
  height: 90%;
  bottom: 0;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.worksWrapper .scrollLine {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  height: 80%;
}

.worksWrapper .scrollLine .scrollWhite {
  border-left: solid 1px white;
  position: relative;
  margin-left: auto;
  -webkit-animation-name: scrollDown;
          animation-name: scrollDown;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-right: auto;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.worksWrapper .arrowWrapper {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-top: 5%;
  margin-right: auto;
  margin-bottom: -20%;
  -webkit-animation-name: fadeInOut;
          animation-name: fadeInOut;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.worksWrapper .arrowWrapper svg {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  fill: white;
  width: 25px;
}

.worksWrapper .textWrapper {
  position: relative;
  font-family: "Butler-Bold";
  font-size: 10pt;
  color: white;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes scrollDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes fadeText {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeText {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=Works.css.map */