@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: "Butler-Bold";
  src: url("../../../../assets/Fonts/Butler-Bold.woff") format("woff"),
    url("../../../../assets/Fonts/Butler-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("../../../../assets/Fonts/Butler.woff") format("woff"),
    url("../../../../assets/Fonts/Butler.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Butler-Light";
  src: url("../../../../assets/Fonts/Butler-Light.woff") format("woff"),
    url("../../../../assets/Fonts/Butler-Light.woff") format("woff");
  font-weight: light;
  font-style: normal;
}
.worksWrapper {
  width: fit-content;
  position: absolute;
  left: 2.5%;
  margin: auto;
  height: 90%;
  bottom: 0;
  top: 0;
  z-index: 100;
  display: flex;
  text-align: center;
  flex-flow: column nowrap;
  & .scrollLine {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: 80%;
    & .scrollWhite {
      border-left: solid 1px white;
      position: relative;
      margin-left: auto;
      margin-right: auto;

      animation-name: scrollDown;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      height: 100%;
    }
  }

  & .textWrapper {
    font-family: "Butler-Bold";
    font-size: 12pt;
    color: white;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    position: relative;
    width: fit-content;
    // writingsform: rotate(180deg);-mode: vertical-lr;
    // tran
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes fadeText {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
