@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

.searchResultsBarLabelWrapper {
  height: 75px;
  width: 15%;
  // margin-top: 20px;
  margin-left: 5%;
  text-align: center;
  background: transparent;
  // box-shadow: 4px 4px 10px black;

  & .labelTextWrapper {
    font-family: "Josefin Sans";
    font-style: oblique;
    font-size: 24pt;
    font-weight: 900;
    height: fit-content;
    width: fit-content;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-block-end: auto;
    // color: white;
  }
}

.searchResultsBarLabelWrapper:first-child {
  margin-top: 2.5%;
}

.searchResultsBarLabelWrapper:nth-child(2) {
  margin-top: 0px;
}

.eventsClass {
  margin-top: 0px;
  border: solid 2px rgb(255, 166, 56);
  color: rgb(255, 166, 56);
}
.placesClass {
  border: solid 2px rgb(0, 78, 100);
  color: rgb(0, 78, 100);
}

$tablet-width: 1024px;

@media (max-width: $tablet-width) {
  .searchResultsBarLabelWrapper {
    position: relative;
    margin-bottom: 2.5%;
    height: 10%;
    width: 25%;
    margin-left: 5%;
    margin-right: auto;
    & .labelTextWrapper {
      position: relative;
      font-size: 15pt;
      top: 50%;
      transform: translate(0, -50%);
      margin-left: auto;
      margin-right: auto;
    }
  }
  .searchResultsBarLabelWrapper:first-child {
    margin-top: 0;
  }

  .searchResultsBarLabelWrapper:nth-child(2) {
    margin-top: 0;
  }
}
