@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

.searchResultsBarLabelWrapper {
  height: 75px;
  width: 200px;
  // margin-top: 20px;
  margin-left: 2.5%;
  text-align: center;
  background: transparent;
  // box-shadow: 4px 4px 10px black;

  & .labelTextWrapper {
    font-family: "Josefin Sans";
    font-style: oblique;
    font-size: 24pt;
    font-weight: 900;
    position: relative;
    top: 25px;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-block-end: auto;
    // color: white;
  }
}

.searchResultsBarLabelWrapper:first-child {
  margin-top: 20px;
}

.searchResultsBarLabelWrapper:nth-child(2) {
  margin-top: 0px;
}

.eventsClass {
  margin-top: 0px;
  border: solid 2px rgb(255, 166, 56);
  color: rgb(255, 166, 56);
}
.placesClass {
  border: solid 2px rgb(0, 78, 100);
  color: rgb(0, 78, 100);
}
