.schedulerGridWrapper {
  height: 600px;
  background: white;
  width: 1000px;
  box-shadow: 4px 4px 10px black;
  overflow: hidden;
  grid-area: scheduler;
  margin-top: 25px;
  margin-right: 25px;
  margin-left: auto;
}
