.schedulerGridWrapper {
  height: 600px;
  background: white;
  width: 1000px;
  box-shadow: 4px 4px 10px black;
  overflow: hidden;
  grid-area: scheduler;
  margin-top: 25px;
  margin-right: 25px;
  margin-left: auto;
  overflow-x: scroll;

  & .gridSlider {
    height: 600px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    left: 0;
    & .gridDateHeader {
      grid-area: header;
      background-color: red;
      height: auto;
      width: auto;
    }
  }
}

.schedulerGridWrapper::-webkit-scrollbar {
  display: none;
}
