.schedulerGridWrapper {
  height: 600px;
  background: rgb(252, 252, 252);
  width: 40%;
  box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.5);
  overflow: hidden;
  // grid-area: scheduler;
  // margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow-x: scroll;
  scroll-behavior: smooth;

  & .gridSlider {
    height: 600px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    left: 0;
  }
}

.schedulerGridWrapper::-webkit-scrollbar {
  display: none;
}
