.linksTransition-enter {
  transition: all 250ms ease-in-out;
  opacity: 0;
  transform: translate(-100%, 0);

  &.linksTransition-enter-active {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.linksTransition-exit {
  transform: translate(0, 0);
  opacity: 1;

  transition: all 250ms ease-in-out;

  &.linksTransition-exit-active {
    transition: all 250ms ease-in-out;
    transform: translate(-100%, 0);
    opacity: 0;
  }
}

.searchTransition-enter {
  transition: all 250ms ease-in-out;
  opacity: 0;
  transform: translate(0, -100%);

  &.searchTransition-enter-active {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.searchTransition-exit {
  transform: translate(0, 0);
  transition: all 250ms ease-in-out;
  opacity: 1;
  &.searchTransition-exit-active {
    transition: all 250ms ease-in-out;
    // max-height: 0;
    opacity: 0;

    transform: translate(0, -100%);
  }
}

.partsTransition-enter {
  transition: all 250ms ease-in-out;
  opacity: 0;
  transform: translate(100%, 0);

  &.partsTransition-enter-active {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.partsTransition-exit {
  transform: translate(0, 0);
  transition: all 250ms ease-in-out;
  opacity: 1;

  &.partsTransition-exit-active {
    transition: all 250ms ease-in-out;
    opacity: 0;

    transform: translate(100%, 0);
  }
}

.modalLinks-enter {
  transition: 250ms ease-in-out;
  opacity: 0;
  transform: translate(100%, 0);
  &.modalLinks-enter-active {
    opacity: 1;
    transition: 250ms ease-in-out;
    transform: translate(0, 0);
  }
}

.modalLinks-exit {
  opacity: 1;
  transition: 250ms ease-in-out;
  transform: translate(0, 0);

  &.modalLinks-exit-active {
    opacity: 0;
    transition: 250ms ease-in-out;
    transform: translate(100%, 0);
  }
}

.modalSearch-enter {
  opacity: 0;
  transform: translate(0, 100%);
  transition: 250ms ease-in-out;
  &.modalSearch-enter-active {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.modalSearch-exit {
  opacity: 1;
  transform: translate(0, 0);
  transition: 250ms ease-in-out;
  &.modalSearch-exit-active {
    opacity: 0;
    transform: translate(0, 100%);
  }
}

.modalParts-enter {
  transition: 250ms ease-in-out;
  transform: translate(-100%, 0);
  opacity: 0;
  &.modalParts-enter-active {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.modalParts-exit {
  transition: 250ms ease-in-out;
  opacity: 1;
  transform: translate(0, 0);
  &.modalParts-exit-active {
    opacity: 0;
    transform: translate(-100%, 0);
  }
}
