@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

.navWrapper {
  position: relative;
  z-index: 3;
  top: 0;
  margin: 0;
  left: 0;
  padding: 0;
  height: 100px;
  background: white;
  width: 100%;

  & .navLinks {
    position: relative;
    float: right;
    padding-left: auto;
    padding-right: auto;
    top: 20px;
    & li:first-child {
      margin: none;
      margin-left: 0;
    }
    & li {
      list-style-type: none;
      display: inline-block;
      font-size: x-large;
      margin-left: 40px;
      font-family: "Josefin Sans";
    }
    & li:last-child {
      margin-right: 40px;
    }
  }
}

.logoWrapper {
  left: 5%;
  height: fit-content;
  width: fit-content;
  position: relative;
  top: 10px;
  & .logo {
    height: 75px;
    width: auto;
  }
}
