// @import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

$tablet-width: 768px;
$desktop-width: 1024px;
$iphone11-width: 828px;

@mixin navWrapper {
}

.navWrapper {
  position: sticky;
  z-index: 3;
  top: 0;
  margin: 0;
  left: 0;
  padding: 0;
  height: 10vh;
  width: 100%;
  transition: 250ms ease-in;
  display: flex;
  flex-flow: row nowrap;

  & .logoWrapper {
    left: 5%;
    height: fit-content;
    width: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    & a {
      height: 100%;
      width: 100%;
      & svg {
        height: 35px;
        width: auto;
        transition: 250ms ease-in;

        // fill: white;
      }
    }
  }

  & .linksWrapper {
    position: relative;
    float: right;
    margin-right: 5%;
    margin-left: auto;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    transform: translateY(-50%);
    top: 50%;
    & .pageLink {
      margin-left: 20px;
      margin-right: 20px;

      & a {
        text-decoration: none;
        font-family: "Montserrat";
        font-weight: 900;
        font-size: large;
        transition: 250ms ease-in;
      }
    }
    & .pageLink:last-child {
      margin-right: 0px;
    }
  }
}

.mobileWrapper {
  display: none;
}

@media (min-width: 0) and (max-width: 800px) {
  .navWrapper {
    & .logoWrapper {
      & a {
        & svg {
          height: 25px;
          width: auto;
        }
      }
    }
    & .linksWrapper {
      display: none;
    }
    & .mobileWrapper {
      display: block;
      position: relative;
      margin-right: 5%;
      margin-left: auto;
      height: 30px;
      width: 30px;
      top: 50%;
      transform: translate(0, -50%);
      transition: 250ms ease-in-out;
    }
    & .hamburger {
      width: 30px;

      height: 30px;
      display: flex;
      flex-flow: column nowrap;
      transition: 250ms ease-in-out;
      & .topLine {
        width: 30px;
        border-top: 3px solid black;
        height: 3px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        transform-origin: top left;
        margin-bottom: auto;
        padding: 0;
        transition: 250ms ease-in-out;
      }
      & .middleLine {
        border-top: 3px solid black;
        width: 30px;
        height: 3px;
        padding: 0;

        margin-bottom: auto;
        margin-top: auto;
        transition: 250ms ease-in-out;
      }
      & .bottomLine {
        border-top: 3px solid black;
        height: 3px;
        padding: 0;
        width: 30px;
        margin-left: auto;
        margin-right: auto;
        transform-origin: bottom left;
        margin-bottom: 0;
        margin-top: auto;
        transition: 250ms ease-in-out;
      }
    }
    & .exit {
      transition: 250ms ease-in-out;
      & .topLine {
        width: 38px;
        border-top: 3px solid black;
        height: 3px;
        margin-top: 0;
        transform: rotate(45deg);
        transform-origin: top left;
        margin-bottom: auto;
        position: absolute;
        padding: 0;
        top: 0;
        transition: 250ms ease-in-out;
      }
      & .middleLine {
        border-top: 3px solid black;
        width: 0px;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        height: 3px;
        padding: 0;
        transition: 250ms ease-in-out;
      }
      & .bottomLine {
        position: absolute;
        border-top: 3px solid black;
        height: 3px;
        padding: 0;
        width: 38px;
        transform-origin: bottom left;
        transform: rotate(-45deg);
        margin-bottom: 0;
        bottom: 0;
        transition: 250ms ease-in-out;
      }
    }
  }
}
