@font-face {
  font-family: "Butler-Bold";
  src: url("../../../../assets/Fonts/Butler-Bold.woff") format("woff"),
    url("../../../../assets/Fonts/Butler-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.dragWrapper {
  position: absolute;
  left: 14%;
  top: 0;
  width: 36%;
  height: 5%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  & .textWrapper {
    height: fit-content;
    width: fit-content;
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 0;
    margin-right: 2.5%;
    top: 50%;
    transform: translateY(-50%);
    & .text {
      font-family: "Butler-Bold";
      font-size: 10pt;
      width: fit-content;
      height: fit-content;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin: auto;
    }
  }

  & .lineWrapper {
    width: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    overflow: hidden;
    margin-left: 0;
    & .line {
      border-top: solid 1px black;
      width: 100%;
      position: relative;
      top: 50%;
      animation-name: leftToRight;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes leftToRight {
  0% {
    transform: translate(-100%, -50%);
  }
  100% {
    transform: translate(100%, -50%);
  }
}
