.searchPage {
  grid-area: submit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: solid 3px white;
  background: #76c898;
  height: 90%;
  width: 100%;
  position: relative;
  margin: auto;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  cursor: pointer;
}

.searchPage .submitTitleWrapper {
  display: block;
  position: relative;
  margin: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.searchPage .submitTitleWrapper .submit {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
  font-family: "Josefin Sans";
  font-weight: bolder;
  color: white;
  font-style: italic;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

.searchPage .arrowWrapper {
  display: block;
  margin-right: 5%;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 90%;
  width: auto;
}

.searchPage .arrowWrapper .arrow {
  position: relative;
  display: block;
  fill: black;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  stroke-width: 2px;
  stroke: black;
  position: relative;
  width: auto;
  height: 25px;
  margin: auto;
}

.submitButton:hover {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  border: solid 3px #5edfc5;
  background: transparent;
}

.submitButton:hover .submit {
  color: #5edfc5;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.submitButton:hover .arrow {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  fill: #5edfc5;
  stroke-width: 2px;
  stroke: #5edfc5;
}

.navBar {
  position: relative;
  width: 90%;
  height: 75%;
  margin-right: 5%;
  margin-left: auto;
  grid-area: submit;
  right: 0;
  float: none;
  bottom: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: #76c898;
  border-radius: 15px;
  color: white;
}

.navBar.linkedButton {
  position: relative;
  width: 90%;
  height: 75%;
  margin-right: 5%;
  margin-left: auto;
  grid-area: submit;
  right: 0;
  float: none;
  bottom: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: #76c898;
  border-radius: 15px;
  color: white;
}

.navBar.linkedButton a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  margin: auto;
}

.navBar.linkedButton a .submitTitleWrapper {
  position: relative;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.navBar.linkedButton a .submitTitleWrapper .submit {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 80%;
  font-family: "Josefin Sans";
  color: white;
  font-weight: 900;
  font-style: oblique;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: auto;
}

.navBar .submitTitleWrapper {
  position: relative;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.navBar .submitTitleWrapper .submit {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 80%;
  font-family: "Josefin Sans";
  font-weight: 900;
  font-style: oblique;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: auto;
}

.homePage {
  grid-area: submit;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 75%;
  background: #76c898;
  margin-bottom: auto;
  cursor: pointer;
}

.homePage.linkedButton a {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
}

.homePage.linkedButton a .submitTitleWrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.homePage.linkedButton a .submitTitleWrapper .submit {
  font-family: "Josefin Sans";
  font-weight: 900;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: white;
  font-style: oblique;
}

.homePage .submitTitleWrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.homePage .submitTitleWrapper .submit {
  font-family: "Josefin Sans";
  font-weight: 900;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: white;
  font-style: oblique;
}
/*# sourceMappingURL=SearchButton.css.map */