@import url("https://fonts.googleapis.com/css?family=Montserrat");

.eventsSearchWrapper {
  top: 75px;
  left: 50px;
  position: relative;
  height: fit-content;
  width: fit-content;
  & .eventsSearchTextWrapper {
    position: relative;
    top: 0;
    & p {
      margin-block-start: 0;
      font-family: "Montserrat";
      font-size: large;
      font-weight: bold;
    }
  }
  & .eventsCategories {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-family: "Montserrat";
  }
}

.SearchPage {
  & .eventsSearchWrapper {
    display: hidden;
  }
}
