@import url("https://fonts.googleapis.com/css?family=Montserrat");

.eventsSearchWrapper {
  // position: relative;
  height: fit-content;
  width: fit-content;
  & .eventsSearchTextWrapper {
    position: relative;
    top: 0;
    & p {
      margin-block-start: 0;
      font-family: "Montserrat";
      font-size: large;
      font-weight: bold;
    }
  }
  & .eventsCategories {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-family: "Montserrat";
  }
}

.HomePage {
  grid-area: events;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 40px;
  & .eventsSearchTextWrapper {
    position: relative;
    top: 0;
    & p {
      margin-block-start: 0;
      font-family: "Montserrat";
      font-size: 9pt;
      font-weight: bold;
    }
  }
  & .eventsCategories {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 240px;
    font-family: "Montserrat";
  }
  & span {
    font-family: "Montserrat";
    font-size: 12pt;
    font-weight: bold;
  }
  & .eventsCategories {
    margin-top: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-family: "Montserrat";
  }
}

.SearchPage {
  grid-area: events;
  margin-left: 25px;
  // border: solid 1px black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  & span {
    font-family: "Montserrat";
    font-size: large;
    font-weight: bold;
  }
  & .eventsCategories {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-family: "Montserrat";
    margin-left: 10px;
  }
}
